<div
  onclick="addToCartGA('[[title]]')"
  data-algolia-index="[[ index ]]"
  data-algolia-position="[[ productPosition ]]"
  data-algolia-queryid="[[ queryID ]]"
  data-algolia-objectid="[[ objectID ]]"
  class="[[# helpers.displayProduct]][[/ helpers.displayProduct]]"
  data-handle="[[ handle ]]"
  data-variant-id="[[ objectID ]]"
  data-distinct="[[ _distinct ]]"
>
  <div class="ais-image-container">
    [[# helpers.percentOff]] [[/ helpers.percentOff]]
    <img
      src="[[# helpers.largeImage ]][[/ helpers.largeImage ]]"
      alt="[[# helpers.fullHMTLTitle ]][[/ helpers.fullHMTLTitle ]]"
    />
  </div>

  <div class="ais-hit--details">
    <div class="ais-hit--title">
      <div class="ais-top-hit">
        <div class="ais-title-overflow">
          <a
            class="ais-title-link"
            data-algolia-index="[[ index ]]"
            data-algolia-position="[[ productPosition ]]"
            data-algolia-queryid="[[ queryID ]]"
            data-algolia-objectid="[[ objectID ]]"
            href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]"
            onclick="void(0)"
            title="[[# helpers.fullTitle ]][[/ helpers.fullTitle ]]"
          >
            [[# helpers.itemProductTitle ]][[/ helpers.itemProductTitle]]
          </a>
        </div>
        <p class="product-descript">
          [[# meta]] [[# c_f ]] [[ Category_Subtitle ]] [[/ c_f ]] [[/ meta]]
        </p>
        [[# helpers.renderTags]] [[/ helpers.renderTags]]
      </div>
      [[# helpers.tagGen]] [[/ helpers.tagGen]]
    </div>

    <p class="ais-hit--price">
      [[# helpers.instantsearchPrice ]][[/ helpers.instantsearchPrice ]]
    </p>
    [[^ _distinct ]]
    <form
      id="algolia-add-to-cart-[[ objectID ]]"
      style="display: none"
      action="/cart/add"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="id" value="[[ objectID ]]" />
    </form>
    <p class="ais-hit--cart">
      [[# can_order ]] [[# helpers.cartButton ]][[/ helpers.cartButton ]] [[#
      helpers.inventory ]][[/ helpers.inventory ]] [[/ can_order ]] [[^
      can_order ]]
      <span class="ais-hit--cart-button"
        ><a
          href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]"
          class="btn"
          >Learn More</a
        ></span
      >
      [[/ can_order ]]
    </p>
    [[/ _distinct ]]
  </div>
</div>

<script>
  function addToCartGA(title) {
    ga(
      "send",
      "event",
      "product",
      "add_to_cart",
      "Collections Add to Cart",
      title
    );
  }
</script>
