<div class="at-full-section">
  <div class="container">
    <div class="app-section" data-aos="fade-right">
      <div class="square-element"></div>
      <div class="app block-1">
        <img
          src="https://cdn.shopify.com/s/files/1/1741/5055/files/app-1_e5c5c112-e41d-4752-814f-c24cf826b39d.png?v=1601407652"
          alt="Timeline Screen"
        />
      </div>
      <div class="app block-2">
        <img
          src="https://cdn.shopify.com/s/files/1/1741/5055/files/app-2_690817ca-4ed7-4260-9acd-ff8e88f09def.png?v=1601407652"
          alt="Timeline Screen"
        />
      </div>
      <div class="app block-3">
        <img
          src="https://cdn.shopify.com/s/files/1/1741/5055/files/app-3_d462cb67-2247-485f-8b0f-635baee1d749.png?v=1601407652"
          alt="Timeline Screen"
        />
      </div>
      <div class="app block-4">
        <img
          src="https://cdn.shopify.com/s/files/1/1741/5055/files/app-4_49188076-e24c-4b8f-8d37-42daa82d6e5f.png?v=1601407652"
          alt="Timeline Screen"
        />
      </div>
    </div>
    <div class="text-section" data-aos="fade-left">
      <img
        src="https://cdn.shopify.com/s/files/1/1741/5055/files/at-full.png?v=1601408968"
        alt="@Full"
        width="200px"
      />
      <h2>
        DREAM IT.<br />
        BUILD IT.<br />
        CONTROL IT.<br />
      </h2>
      <p>
        The At Full™ app from Blizzard Lighting allows you to bring fixtures and
        ideas to life with its intuitive show editor, real-time miniconsole
        controls, and an extensive library of fixture profiles — all from the
        palm of your hand.
      </p>
      <a href="/at-full" class="btn btn-black">Learn More</a>
      <div class="icon-group-home">
        <h3>Available on</h3>

        <a
          href="https://play.google.com/store/apps/details?id=com.blizzardpro.atfull"
          ><img
            src="https://cdn.shopify.com/s/files/1/1741/5055/files/google.png?v=1601410462"
            alt="Google"
        /></a>
        <a href="https://apps.apple.com/us/app/full/id1483078784"
          ><img
            src="https://cdn.shopify.com/s/files/1/1741/5055/files/apple.png?v=1601410462"
            alt="Apple"
        /></a>
      </div>
    </div>
  </div>
</div>
