<section class="bl-prod-section position-relative py-5">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="bl-caption p-5 col-lg-4">
            <img class="bl-slider-logo" src="{{ 'at-full-logo-horizontal-for-light-background.png' | asset_url }}" style="width: 50%">

            <div class="bl-text-caption" style="position: relative">
                <h2>Control
                    {{ product.title }}
                    with your mobile device</h2>
            </div>

            <div class="bl-btn-group">
                <a class="btn btn-simple" href="https://play.google.com/store/apps/details?id=com.blizzardpro.atfull" style="color: #000000 !important; background-color: rgba(0,0,0,0) !important" tabindex="0" target="_blank">
                    <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/android.png?v=1613746047">
                </a>

                <a class="btn btn-simple" href="https://apps.apple.com/us/app/full/id1483078784" style="color: #000000; background-color: rgba(0,0,0,0) !important" tabindex="0" target="_blank">
                    <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/ios.png?v=1613746046">
                </a>
            </div>

            <a class="btn btn-blue" href="/at-full" style="width: 170px">Learn More</a>
        </div>
        <img src="{{ 'atfull-mock.png' | asset_url }}" class="col-lg-7">
    </div>
</section>