

<div class="bbc--flex">
<img class="bbc--box" src={{'dis-bbc.png' | asset_url}} />
<img class="bbc--box" src={{'ln-bbc.png' | asset_url}} />
<img class="bbc--box" src={{'fr-bbc.png' | asset_url}} />
        </div>