<div id="contact-form" style="position: relative;
    top: -60px;"></div>
<div class="cfhs">
        <div class="flex-container">
          <div
            class="contact-image"
            style="background-image: url('https://cdn.shopify.com/s/files/1/1741/5055/products/20170815_135107.jpg')"
          ></div>
          <div class="c-form">
            <h3>Contact Us Today</h3>

            <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
          	portalId: "4135982",
          	formId: "4097b1e1-39f3-4536-9f75-52bcabdf7cfd"
          });
          </script>
          </div>

        </div>
      </div>
