<style>
  .enigma-presale {
    background: #1d1e20;
margin-top: 50px;
}

.enigma-presale img {
    mix-blend-mode: normal;
}

.enigma-presale img {
    mix-blend-mode: inherit !important;
}

.enigma-presale .container {text-align: center;padding: 70px 0 120px;max-width: 100%;width: 100%;}

.enigma-images {
    display: flex;
    width: 100%;
}

.enigma-presale .container h2 {
    color: white;
    font-size: 1.5em;
    letter-spacing: 18px;
}

.enigma-presale p {
    margin: 0;
    color: #b0b1b3;
    font-size: 1.3em;
}

.enigma-presale .fine {
    margin-bottom: 50px;
}

.enigma-presale .container .title-caption {
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #7c8086;
    font-family: brandon-grotesque,sans-serif;
    padding-top: 20px;
}
</style>
<div class="enigma-presale">
        <div class="container">
          <h2>Limited Edition Stock</h2>
          <p>Place your order today for exclusive items</p>
          <div class="fine">(*road case included w/ all orders)</div>
          <div class="enigma-images">
            <div class="enigma-item">
              <img src="{{ "enigma-m4-light.jpg" | asset_url }}" alt="gooseneck lamp" />
              <div class="title-caption">USB Gooseneck Lamp</div>
            </div>

            <div class="enigma-item">
              <img src="{{ "enigma-m4-cover.jpg" | asset_url }}" alt="dust cover" />
              <div class="title-caption">Enigma Dust Cover</div>
            </div>

            <div class="enigma-item">
              <img src="{{ "engima-m4-case.jpg" | asset_url }}" alt="road case" />
              <div class="title-caption">Custom Road Case</div>
            </div>
          </div>
        </div>
      </div>
                                 