<div class="s-results">
	<h2>FAQs</h2>
	<hr>
	<div class="flex-container">
		<div class="s-item">
			<div class="container">
				<h3>New Support Ticket</h3>
				<p>Download Product Manuals And Cutsheets, Submit Support Tickets And Register Your Blizzard Product Below</p>
				<a href="/" class="btn btn-white">Submit New Ticket</a>
			</div>
		</div>

		<div class="s-item">
			<div class="container">
				<h3>Existing Tickets</h3>
				<p>Download Product Manuals And Cutsheets, Submit Support Tickets And Register Your Blizzard Product Below</p>
				<a href="/" class="btn btn-white">Check Ticket Status</a>
			</div>
		</div>
	</div>
</div>
