<style>
    .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  </style>
<div class="how-to-section" id="how-to">
    <div class="container">
        <div id="mv-title"></div>
        <div class="main-vid">
            <div class="embed-container" id="mv-frame"></div>
        </div>
        <div class="other-vids" id="ov-frame">
            <h3>Series Playlist</h3>

        </div>
    </div>

</div>

<script>

    const videos = {{ product.metafields.c_f.How_To }},
        mainVid = videos.urls[0];

    let currentVid = 0;


    function reportWindowSize() {
        const mainVidHeight = document.querySelector("#mv-frame").offsetHeight;
        jQuery("#ov-frame ul").css("height", mainVidHeight - 30);
    }

    window.addEventListener("resize", reportWindowSize);

    document.onload = createHTML();

    $("#ov-frame li").click(function () {
        $("#ov-frame li").removeClass("active-node");
        $(this).addClass("active-node");
    })


    function setCurrentVid() {
        document.getElementById("mv-frame").innerHTML = `<iframe src='https://www.youtube.com/embed/${
            videos.urls[currentVid]
        }' frameborder='0' allowfullscreen></iframe>`;
        document.getElementById("mv-title").innerHTML = (`<h2>${
            videos.title[currentVid]
        }</h2>`);
    }

    function makeUL(array) {
        console.log(array);
        // Create the list element:
        var list = document.createElement("ul");
        list.setAttribute(
            "style",
            `height: ${
                document.querySelector("#mv-frame").offsetHeight - 50
            }px`
        );

        for (var i = 0; i < array.length; i++) { // Create the list item:
            var item = document.createElement("li");


            // Set its contents:
            item.appendChild(document.createTextNode(`<i class="fal fa-play-circle"></i> ${
                [i + 1]
            }: ${
                array[i]
            }`));
            if (i == currentVid) {
                item.setAttribute("class", `active-node `);
            } else {
                item.setAttribute("onClick", `setNewVid(${i})`);
            }


            // Add it to the list:
            list.appendChild(item);
        }

        // Finally, return the constructed list:
        return list;
    }

    function setNewVid(i) {
        currentVid = i;
        setCurrentVid();
    }

    function createHTML() {

        document.getElementById("ov-frame").appendChild(makeUL(videos.title));
        setCurrentVid();
    }
</script>