<div id="iris-viewing-chart">
	<?xml version="1.0" encoding="utf-8"?>
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 1342.3 495.1" style="enable-background:new 0 0 1342.3 495.1;" xml:space="preserve">
	<style type="text/css">
		.st0{fill:#040735;}
		.st1{fill:#282BF6;}
		.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#B28B67;}
		.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#191847;}
		.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#997659;}
		.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#E4E4E4;}
		.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#69A1AC;}
		.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#89C5CC;}
		.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#E87613;}
		.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#DDE3E9;}
		.st10{fill-rule:evenodd;clip-rule:evenodd;fill:#FF9B21;}
		.st11{fill-rule:evenodd;clip-rule:evenodd;fill-opacity:0.1;}
		.st12{fill:none;stroke:#ABAFF4;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
		.st13{fill:none;stroke:#ABAFF4;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0,15.815;}
		.st14{fill:#FFFFFF;}
		.st15{font-family:'SourceSansPro-Bold';}
		.st16{font-size:23.0159px;}
		.st17{fill:none;}
		.st18{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
		.st19{font-family:'SourceSansPro-SemiBold';}
		.st20{font-size:22px;}
		.st21{letter-spacing:1;}
		.st22{opacity:0.8;fill:none;stroke:#ABAFF4;stroke-width:0.8682;stroke-miterlimit:10;}
	</style>
	<g>
		<rect x="0.1" y="67.5" class="st0" width="90" height="90"/>
		<path class="st1" d="M90,67.6v89.8H0.2V67.6H90 M90.3,67.4H0v90.3h90.3V67.4L90.3,67.4z"/>
	</g>
	<g>
		<rect x="90.4" y="67.5" class="st0" width="90" height="90"/>
		<path class="st1" d="M180.3,67.6v89.8H90.5V67.6H180.3 M180.5,67.4H90.3v90.3h90.3V67.4L180.5,67.4z"/>
	</g>
	<g>
		<rect x="180.7" y="67.5" class="st0" width="90" height="90"/>
		<path class="st1" d="M270.5,67.6v89.8h-89.8V67.6H270.5 M270.8,67.4h-90.3v90.3h90.3V67.4L270.8,67.4z"/>
	</g>
	<g>
		<rect x="270.9" y="67.5" class="st0" width="90" height="90"/>
		<path class="st1" d="M360.8,67.6v89.8H271V67.6H360.8 M361.1,67.4h-90.3v90.3h90.3V67.4L361.1,67.4z"/>
	</g>
	<g>
		<rect x="361.2" y="67.5" class="st0" width="90" height="90"/>
		<path class="st1" d="M451.1,67.6v89.8h-89.8V67.6H451.1 M451.3,67.4h-90.3v90.3h90.3V67.4L451.3,67.4z"/>
	</g>
	<g>
		<rect x="451.5" y="67.5" class="st0" width="90" height="90"/>
		<g>
			<path class="st1" d="M541.3,67.6v89.8h-89.8V67.6H541.3 M541.6,67.4h-90.3v90.3h90.3V67.4L541.6,67.4z"/>
		</g>
	</g>
	<g>
		<rect x="0.1" y="157.8" class="st0" width="90" height="90"/>
		<path class="st1" d="M90,157.9v89.8H0.2v-89.8H90 M90.3,157.6H0v90.3h90.3V157.6L90.3,157.6z"/>
	</g>
	<g>
		<rect x="90.4" y="157.8" class="st0" width="90" height="90"/>
		<path class="st1" d="M180.3,157.9v89.8H90.5v-89.8H180.3 M180.5,157.6H90.3v90.3h90.3V157.6L180.5,157.6z"/>
	</g>
	<g>
		<rect x="180.7" y="157.8" class="st0" width="90" height="90"/>
		<path class="st1" d="M270.5,157.9v89.8h-89.8v-89.8H270.5 M270.8,157.6h-90.3v90.3h90.3V157.6L270.8,157.6z"/>
	</g>
	<g>
		<rect x="270.9" y="157.8" class="st0" width="90" height="90"/>
		<path class="st1" d="M360.8,157.9v89.8H271v-89.8H360.8 M361.1,157.6h-90.3v90.3h90.3V157.6L361.1,157.6z"/>
	</g>
	<g>
		<rect x="361.2" y="157.8" class="st0" width="90" height="90"/>
		<path class="st1" d="M451.1,157.9v89.8h-89.8v-89.8H451.1 M451.3,157.6h-90.3v90.3h90.3V157.6L451.3,157.6z"/>
	</g>
	<g>
		<rect x="451.5" y="157.8" class="st0" width="90" height="90"/>
		<path class="st1" d="M541.3,157.9v89.8h-89.8v-89.8H541.3 M541.6,157.6h-90.3v90.3h90.3V157.6L541.6,157.6z"/>
	</g>
	<g>
		<rect x="0.1" y="248" class="st0" width="90" height="90"/>
		<path class="st1" d="M90,248.2v89.8H0.2v-89.8H90 M90.3,247.9H0v90.3h90.3V247.9L90.3,247.9z"/>
	</g>
	<g>
		<rect x="90.4" y="248" class="st0" width="90" height="90"/>
		<path class="st1" d="M180.3,248.2v89.8H90.5v-89.8H180.3 M180.5,247.9H90.3v90.3h90.3V247.9L180.5,247.9z"/>
	</g>
	<g>
		<rect x="180.7" y="248" class="st0" width="90" height="90"/>
		<path class="st1" d="M270.5,248.2v89.8h-89.8v-89.8H270.5 M270.8,247.9h-90.3v90.3h90.3V247.9L270.8,247.9z"/>
	</g>
	<g>
		<rect x="270.9" y="248" class="st0" width="90" height="90"/>
		<path class="st1" d="M360.8,248.2v89.8H271v-89.8H360.8 M361.1,247.9h-90.3v90.3h90.3V247.9L361.1,247.9z"/>
	</g>
	<g>
		<rect x="361.2" y="248" class="st0" width="90" height="90"/>
		<path class="st1" d="M451.1,248.2v89.8h-89.8v-89.8H451.1 M451.3,247.9h-90.3v90.3h90.3V247.9L451.3,247.9z"/>
	</g>
	<g>
		<rect x="451.5" y="248" class="st0" width="90" height="90"/>
		<path class="st1" d="M541.3,248.2v89.8h-89.8v-89.8H541.3 M541.6,247.9h-90.3v90.3h90.3V247.9L541.6,247.9z"/>
	</g>
	<g>
		<rect x="0.1" y="338.3" class="st0" width="90" height="90"/>
		<path class="st1" d="M90,338.4v89.8H0.2v-89.8H90 M90.3,338.2H0v90.3h90.3V338.2L90.3,338.2z"/>
	</g>
	<g>
		<rect x="90.4" y="338.3" class="st0" width="90" height="90"/>
		<path class="st1" d="M180.3,338.4v89.8H90.5v-89.8H180.3 M180.5,338.2H90.3v90.3h90.3V338.2L180.5,338.2z"/>
	</g>
	<g>
		<rect x="180.7" y="338.3" class="st0" width="90" height="90"/>
		<path class="st1" d="M270.5,338.4v89.8h-89.8v-89.8H270.5 M270.8,338.2h-90.3v90.3h90.3V338.2L270.8,338.2z"/>
	</g>
	<g>
		<rect x="270.9" y="338.3" class="st0" width="90" height="90"/>
		<path class="st1" d="M360.8,338.4v89.8H271v-89.8H360.8 M361.1,338.2h-90.3v90.3h90.3V338.2L361.1,338.2z"/>
	</g>
	<g>
		<rect x="361.2" y="338.3" class="st0" width="90" height="90"/>
		<path class="st1" d="M451.1,338.4v89.8h-89.8v-89.8H451.1 M451.3,338.2h-90.3v90.3h90.3V338.2L451.3,338.2z"/>
	</g>
	<g>
		<rect x="451.5" y="338.3" class="st0" width="90" height="90"/>
		<path class="st1" d="M541.3,338.4v89.8h-89.8v-89.8H541.3 M541.6,338.2h-90.3v90.3h90.3V338.2L541.6,338.2z"/>
	</g>
	<g id="humaaans_x2F_standing-19">
		<g id="humaaan-3" transform="translate(28.000000, 2.000000)">

				<g id="Head_x2F_Front_x2F_Short-Beard" transform="translate(133.219486, 73.532869) rotate(-15.000000) translate(-133.219486, -73.532869) translate(59.569689, 17.301852)">
				<g id="Head" transform="translate(58.494090, 33.282773)">
					<path class="st2" d="M1050.5,431.5l-14.9-8.6l12.8-16.3c-5.4,0.1-10-1-11.6-2.6c-4-3.9,5.3-21,12.8-25.6s27.6,3.2,21,16.9
						c-2.3,4.8-6.6,7.7-11.4,9.4L1050.5,431.5z"/>
				</g>
				<path id="Hair" class="st3" d="M1113.9,416.4c-6.6-3.7-6.7-5.3-4.4-9.2c1.5-0.1,6,0.8,10.4,2.8c2.5,0.6,4.9,2.2,6.8,4.6
					c2.5,2.6,4,5.9,3.2,9.9c0.1,9.3-7.2,14.8-12.8,14.8c-0.4-1.9-0.6-3.8-0.8-5.5c1.1-0.3,2.1-1,2.7-2c1.2-2,0.5-4.7-1.6-5.8
					c-0.2-0.1-0.3-0.2-0.5-0.2c-4.4,7-7.6,11.5-9.7,13.3c-3.2,2.9-10.6-0.3-13-1.6c-2.4-1.4-0.5-3.7,0.3-5c0.5-0.8,2.3,1.7,3.1,0.3
					c0.8-1.4-1.8-4-2-5.3c-0.2-1.5,0.4-3.1,1.6-2.5c1.6,0.9,3.4,5,7.1,7.2c2.4,1.4,6.2-1.7,11.4-9.2
					C1115.4,420.3,1115,418.1,1113.9,416.4z"/>
			</g>
			<g id="Bottom_x2F_Standing_x2F_Baggy-Pants" transform="translate(0.000000, 218.435876)">
				<polygon id="Leg" class="st4" points="1198.8,39.7 1162.7,203.6 1172,203.6 1195.7,128.5 1230.9,39.7 			"/>
				<path id="Leg_1_" class="st2" d="M1202.9,39.7c8.5,29.9,19.1,79.9,22.3,85.3c2.2,3.6,26.6,19,73.4,46.2l6.4-6.8
					c-39.6-31.7-59.8-48.2-60.3-49.5c-0.9-1.9-6.3-44-6.7-75.2H1202.9z"/>

					<g id="Accessories_x2F_Shoe_x2F_Flat-Sneaker" transform="translate(55.786030, 203.938854) rotate(50.000000) translate(-55.786030, -203.938854) translate(22.747702, 182.358023)">
					<path id="shoe" class="st5" d="M804.5-963c-0.7,0.5-0.8,1.3-0.4,2l0,0c1.2,1.7,1.9,3.1,2,4.1c0.2,1.3,0,3.1-0.6,5.3l-2.7,1.7
						c0,0,0,0,0,0c-0.3,0.2-0.4,0.7-0.2,1l11.5,17.1c0.5,1.4,1.1,3.2,1.7,5.4c0.7,2.2,2.6,2.5,5.9,0.8c-4.4-25.1-6.8-38.4-7-39.9
						c-2.5,0-4.4,0.1-5.7,0.3C808-964.9,806.5-964.2,804.5-963C804.5-963,804.5-963,804.5-963z"/>
				</g>
				<g id="Accessories_x2F_Shoe_x2F_Flat-Sneaker_1_" transform="translate(225.310568, 214.729269)">
					<path id="shoe_1_" class="st5" d="M950.5-14.6c-0.3-0.7-1.2-1-1.9-0.7v0c-1.9,0.9-3.3,1.3-4.4,1.3c-1.3,0-3-0.5-5.1-1.5
						l-1.2-2.9c0,0,0,0,0,0c-0.2-0.4-0.6-0.5-0.9-0.4l-18.8,8.4c-1.5,0.2-3.4,0.5-5.6,0.8c-2.3,0.3-2.9,2.2-1.8,5.6
						c25.5,0,39,0,40.5,0c0.4-2.5,0.6-4.4,0.6-5.7C951.8-10.8,951.4-12.4,950.5-14.6C950.5-14.6,950.5-14.6,950.5-14.6z"/>
				</g>
				<polygon id="Pant" class="st6" points="1235.5,39.7 1195.7,39.7 1162.9,191.1 1207.2,195.9 			"/>
				<path id="Pant_1_" class="st7" d="M1248.7,101.7c-0.8-1.8-2.3-22.5-4.5-62h-44.7c4.1,44.9,8.6,72.5,13.7,82.6
					c5.1,10.2,23,31.9,53.6,65.3l29.1-34.3C1265.2,120.8,1249.4,103.6,1248.7,101.7z"/>
			</g>

				<g id="Body_x2F_Hoodie" transform="translate(161.379703, 207.081536) rotate(-10.000000) translate(-161.379703, -207.081536) translate(22.744790, 105.973841)">
				<path id="Skin" class="st2" d="M1132.3,324.8l-24.5,1c-8.6,4.8-13,6.6-13.3,5.1c-0.4-2.1,2.5-2.9,2.4-4.4s-4.2-2.8-8.1-3.9
					c-3.9-1.1-2.2-2.4-1-2.9c4.8-0.9,10.3-1.1,16.8-0.5l27.2-7.9L1132.3,324.8z M1207.3,388c0.3,2.3,5.3,10.8,9,16
					c1.5,2.1,0,3.5-0.9,3.7c-7.5,1.5-9.9-4.4-14.3-8.8c-4.8-4.8-7.1,3-10.9-0.8c2.6-2.6,8-7.3,7.8-11.7c-0.1-2,0.6-18.5,2.1-49.6
					l14.1,5.1C1209.2,369.5,1206.9,384.9,1207.3,388z"/>
				<path id="Coat-Back" class="st8" d="M1109.9,328.1l-3.5-10.2c33.4-9.3,55.3-41.8,83.7-52.5l5.5,3.1
					C1185.2,299.8,1158,339.2,1109.9,328.1z"/>
				<path id="Shirt" class="st9" d="M1203.3,267.3l-15.7-3.1c-10.2,28.1-33.3,43.8-44.4,62.1c-1,1.6-2.6,4.8-0.3,5.7
					c11,4,28.2,10.3,51.6,18.8C1203.9,317.3,1208.4,291.5,1203.3,267.3z"/>
				<path id="Coat-Front" class="st10" d="M1207.8,387.5l-11.1-4c-0.8-4.6-1.4-10.1-1.8-16.6l-40.6-14.8c-0.5-17.3,14.1-46,43.9-86.2
					l4.8,1.4c0.4,0.1,0.9,0.2,1.4,0.4c9.3,3.4,15.8,1.6,20.9,5.5c5.2,3.9,5.2,10-3.8,17.8c-2.1,1.8-4.3,2.6-6.7,2.5
					C1223.4,323,1221,354.4,1207.8,387.5z"/>
				<path id="Shade" class="st11" d="M1194.9,366.9l-15.1-5.5c4.6-3.8,9.5-10.7,14.7-20.9C1194.4,350.5,1194.5,359.3,1194.9,366.9z"
					/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<line class="st12" x1="1204.4" y1="163.2" x2="1204.4" y2="163.2"/>
			<line class="st13" x1="1188.6" y1="163.2" x2="595.5" y2="163.2"/>
			<line class="st12" x1="587.6" y1="163.2" x2="587.6" y2="163.2"/>
		</g>
	</g>
	<text id="a-a" transform="matrix(1 0 0 1 618.4722 424.0328)" class="st14 st15 st16">2 MM ≥</text>
	<g>
		<text id="a-a" transform="matrix(1 0 0 1 628.0928 84.951)" class="st14 st15 st16">9 ft ≥</text>
	</g>
	<g>
		<text id="a-b" transform="matrix(1 0 0 1 747.1125 84.951)" class="st14 st15 st16">12ft</text>
	</g>
	<g>
		<text id="a-c" transform="matrix(1 0 0 1 842.8264 84.951)" class="st14 st15 st16">14 ft</text>
	</g>
	<g>
		<text id="a-d" transform="matrix(1 0 0 1 1021.1084 84.951)" class="st14 st15 st16">16 ft</text>
	</g>
	<text id="a-b" transform="matrix(1 0 0 1 730.8602 424.0328)" class="st14 st15 st16">2.5 MM</text>
	<text id="a-c" transform="matrix(1 0 0 1 829.574 424.0328)" class="st14 st15 st16">2.9 MM</text>
	<text id="a-d" transform="matrix(1 0 0 1 1008.008 424.0328)" class="st14 st15 st16">3.9 MM</text>
	<rect x="651.6" y="397.5" class="st17" width="2.4" height="9.1"/>
	<line class="st18" x1="652.8" y1="99.2" x2="652.8" y2="387.2"/>
	<line class="st18" x1="766.3" y1="99.2" x2="766.3" y2="387.2"/>
	<line class="st18" x1="865" y1="99.2" x2="865" y2="387.2"/>
	<line class="st18" x1="1043.5" y1="99.2" x2="1043.5" y2="387.2"/>
	<text transform="matrix(1 0 0 1 202.5411 477.4175)" class="st0 st19 st20 st21">Video Wall</text>
	<text transform="matrix(1 0 0 1 833.0748 477.4175)" class="st0 st19 st20 st21">Pixel Pitch</text>
	<text transform="matrix(1 0 0 1 798.2485 33.8254)" class="st0 st19 st20 st21">Viewing Distance</text>
	<polyline class="st22" points="610,431.1 610,446.1 1204.4,446.1 1204.4,431.1 "/>
	<polyline class="st22" points="1204.4,60.8 1204.4,45.8 610,45.8 610,60.8 "/>
	</svg>


</div>

<script>

$(window).ready(function() {
    const viewingDistance = $("p:contains('Pixel pitch')" ).text();
    const pixelPitch = viewingDistance.split(':').pop().split('-')[0].trim().replace("mm", "");

	console.log(pixelPitch)

    $('svg text').each(function(index){
        const el = $(this);
        const str = el.text();
        const id = el.attr("id");
        const ignoredText = ['Viewing Distance', 'Video Wall', 'Pixel Pitch'];
        if(!ignoredText.includes(str)) {
                if(!str.includes(pixelPitch)) {
                el.css('opacity', '0.3')
            } else {
                $(`#${id}`).css('opacity', '1.0');
            }
        }

    })


});

</script>