<div id="menu-button">
  <p>Menu</p>
</div>

<div class="overlay-m overlay-data">
  <a href="" class="overlay-close">CLOSE
  </a>
  <nav>
    <ul>
      <li class="nav-home" role="presentation"><a href="">Home</a></li>
      <li role="presentation"><a href="">About</a></li>
      <li role="presentation"><a href="">Work</a></li>
      <li role="presentation"><a href="">Blog</a></li>
      <li role="presentation"><a href="">Contact</a></li>
    </ul>
  </nav>
</div>