<style>
  body{overflow: hidden}
  </style>
  
  
<div id="preloader">
  <div class="pre-container">
  <div id="status">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 308 308" xml:space="preserve">
<style type="text/css">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#0976A8;stroke-width:4;stroke-miterlimit:10;}
</style>
<g>
	<path class="st0 GyhGaNjY_0" d="M12.8,175L40.6,191L34.1,194.7L34.1,203.3L41.5,207.6L55.6,199.6L86.9,217.8L72.6,225.9L72.6,234.5L
		80,238.7L101.8,226.4L117.7,235.5L117.7,259.8L101.8,269L80,256.7L72.6,261L72.6,269.6L86.9,277.7L57.3,294.7L87,294.7L94.3,290.5L
		94.3,294.7L109.1,294.7L109.2,281.9L125.1,272.7L146.2,284.8L146.2,294.7L161,294.7L161,284.8L182,272.7L198,281.9L198.1,294.7L
		212.9,294.7L212.9,290.5L220.2,294.7L249.8,294.7L220.2,277.6L234.6,269.5L234.6,260.9L227.2,256.6L205.3,269L189.4,259.8L
		189.4,235.5L205.4,226.3L227.1,238.6L234.5,234.4L234.5,225.8L220.3,217.7L251.7,199.6L265.6,207.5L273,203.2L273,194.6L266.6,191L
		295.2,174.5L295.2,157.3L259.1,178.2L259.2,170.7L251.7,166.4L244.3,170.7L244.2,186.8L212.8,204.9L213,188.4L205.5,184.1L
		198.1,188.4L197.9,213.5L182,222.7L161,210.6L161,192.1L182.5,179.5L182.5,170.9L175.1,166.6L161,174.9L161,138.7L174.8,130.6L
		174.8,122L167.3,117.7L161,121.5L161,77.7L153.6,73.4L146.2,77.7L146.2,121.5L139.7,117.7L132.3,122L132.3,130.6L146.2,138.8L
		146.2,175L131.9,166.6L124.5,170.9L124.5,179.5L146.2,192.2L146.2,210.6L125.1,222.7L109.2,213.5L109,188.5L101.6,184.2L
		94.1,188.5L94.3,204.9L62.9,186.8L62.8,170.8L55.3,166.5L47.9,170.8L48,178.1L12.8,157.8Z"></path>
	<path class="st0 GyhGaNjY_1" width="293.2" height="293.2" d="M7.4 7.4 L300.59999999999997 7.4 L300.59999999999997 300.59999999999997 L7.4 300.59999999999997 Z"></path>
</g>
<style>.GyhGaNjY_0{stroke-dasharray:1790 1792;stroke-dashoffset:1791;animation:GyhGaNjY_draw_0 1251ms ease 0ms infinite,GyhGaNjY_fade 1251ms linear 0ms infinite;}.GyhGaNjY_1{stroke-dasharray:1173 1175;stroke-dashoffset:1174;animation:GyhGaNjY_draw_1 1251ms ease 0ms infinite,GyhGaNjY_fade 1251ms linear 0ms infinite;}@keyframes GyhGaNjY_draw{100%{stroke-dashoffset:0;}}@keyframes GyhGaNjY_fade{0%{stroke-opacity:1;}99.92006394884093%{stroke-opacity:1;}100%{stroke-opacity:0;}}@keyframes GyhGaNjY_draw_0{0%{stroke-dashoffset: 1791}99.92006394884093%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes GyhGaNjY_draw_1{0%{stroke-dashoffset: 1174}99.92006394884093%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}</style></svg>

    
</div>
</div>
</div>

<script>
  
  
  jQuery(window).on('load', function() {
  jQuery('#status').fadeOut();
  jQuery('#preloader').delay(300).fadeOut('fast');
  jQuery('body').delay(100).css({'overflow':'visible'});
})
  
  
</script>