<div class="prod-header">
    <h3>CASE STUDIES</h3>
    <span class="arrow"></span>
</div>

<div class="case-box-spec bg-image" style="background-image: url('{{ metafield.Hero_Section_1_Image }}'">
    <div class="overlay"></div>
    <div class="case-caption">
        <p>Motif Metro at Blizzard Lighting</p>
        <a href="">Read ›</a>
    </div>
</div>