{% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="email">
        <label for="email">Email</label>
        <input name="email" type="email">
    </div>

    <div class="submit">
        <input type="submit" value="Submit">
    </div>
{% endform %}

<style>
    input[type="email"],
    input[type="password"] {
        background-color: #d5d7de !important;
        border: 1px solid gray;
        width: 100%;
        padding: 1em;
        border-radius: 25px !important;
        color: black;
    }

    input[type="submit"] {
        background-color: #282bf6 !important;
        color: white;
        width: 100%;
        border-radius: 25px !important;
        padding: 1em;
        border: none;
    }
</style>