<div class="soc-it-atfull">
    <div class="flex-container">
        <div class="grey-box">
            <div class="box-content">
                <img src="{{ 'soc-it-transparent.png' | asset_url }}" alt="SoC-It">
                <div class="box-text">
                    <h3>Add wireless DMX to this fixture with SoC-It™</h3>
                    <p>Just plug a SoC-It™ into the DMX input of this fixture and transmit DMX wirelessly over WiFi, Art-Net, and sACN.</p>
                    <form method="post" action="/cart/add">
                        <input type="hidden" name="id" value="31190135570515" />
                        <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                        <input type="submit" class="btn btn-blue" value="Add to Cart" />
                    </form>
                </div>
            </div>
        </div>
        <div class="grey-box">
            <div class="box-content">
                <img src="{{ 'atfull-screen.png' | asset_url }}" alt="AtFull">
                <div class="box-text">
                    <h3>Control this fixture with your smart phone or tablet</h3>
                    <p>Create custom shows, add limitless patches and fixtures, and explore and control thousands of fixture profiles all from your phone or tablet.</p>
                    <form method="post" action="/cart/add">
                        <input type="hidden" name="id" value="32186307772499" />
                        <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                        <input type="submit" class="btn btn-blue" value="Add to Cart" />
                        <div class="fine">Requires SoC-It or Art-Net/sACN compatible device</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
