<div class="spinning-text">
    <svg viewbox="0 0 100 100">
      <path id="curve" 
            fill="transparent"
            d="M0,50a50,50 0 1,0 100,0a50,50 0 1,0 -100,0"/>
      <text>
        <textPath class="textpath-rando" xlink:href="#curve">
        
        </textPath>
      </text>
      
    </svg>
  </div>

