<div class="steam-container">

    {% if product.metafields.f_b.Density == '1' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill one"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '2' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill two"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '3' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill three"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '4' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill four"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '5' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill five"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '6' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill six"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '7' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill seven"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '8' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill eight"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '9' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill nine"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Density == '10' %}
        <div class="steam-item">
            <h4>Density</h4>
            <div class="meter">
                <div class="fill ten"></div>
            </div>
        </div>

    {% endif %}

    <!--       Hang time Stats         -->

    {% if product.metafields.f_b.Hang_Time == '1' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill one"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '2' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill two"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '3' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill three"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '4' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill four"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '5' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill five"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '6' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill six"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '7' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill seven"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '8' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill eight"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '9' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill nine"></div>
            </div>
        </div>

    {% elsif product.metafields.f_b.Hang_Time == '10' %}
        <div class="steam-item">
            <h4>Hang Time</h4>
            <div class="meter">
                <div class="fill ten"></div>
            </div>
        </div>

    {% endif %}

</div>