<div class="cf">
  <div class="cf-button">
<a data-scroll href="#contact-form">
  <div class="envelope">
    <span>Contact</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.68 15"><path d="M0 0v15h20.68V0zm10.34 8.58L2.48 1.39H18.2zM7 7.43l-5.61 5.15V2.27zm1 1L9.86 10l.48.44.45-.42 1.85-1.65 5.71 5.22h-16zm5.61-1l5.64-5.16v10.32z"/></svg>
    </div>
  </a>
  </div>
</div>
