<div class="state-selector">
<select id="my_selection" onchange="location = this.value;">
        
<option value="Select Your State">Select Your State</option>
<option  value="#alabama">AL</option>
<option value="#alaska">AK</option>
<option value="#arizona">AZ</option>
<option value="#arkansas">AR</option>
<option value="#california">CA</option>
<option value="#colorado">CO</option>
<option value="#connecticut">CT</option>
<option value="#delaware">DE</option>
<option value="#florida">FL</option>
<option value="#georgia">GA</option>
<option value="#hawaii">HI</option>
<option value="#idaho">ID</option>
<option data-scroll value="#illinois">IL</option>
<option value="#indiana">IN</option>
<option value="#iowa">IA</option>
<option value="#kansas">KS</option>
<option value="#kentucky">KY</option>
<option value="#louisiana">LA</option>
<option value="#maine">ME</option>
<option value="#maryland">MD</option>
<option value="#massachusetts">MA</option>
<option value="#michigan">MI</option>
<option value="#minnesota">MN</option>
<option value="#mississippi">MS</option>
<option value="#missouri">MO</option>
<option value="#montana">MT</option>
<option value="#nebraska">NE</option>
<option value="#nevada">NV</option>
<option value="#newhampshire">NH</option>
<option value="#newjersey">NJ</option>
<option value="#newmexico">NM</option>
<option value="#newyork">NY</option>
<option value="#northcarolina">NC</option>
<option value="#northdakota">ND</option>
<option value="#ohio">OH</option>
<option value="#oklahoma">OK</option>
<option value="#oregon">OR</option>
<option value="#pennsylvania">PA</option>
<option value="#rhodeisland">RI</option>
<option value="#southcarolina">SC</option>
<option value="#southdakota">SD</option>
<option value="#tennessee">TN</option>
<option value="#texas">TX</option>
<option value="#utah">UT</option>
<option value="#vermont">VT</option>
<option value="#virginia">VA</option>
<option value="#washington">WA</option>
<option value="#westvirginia">WV</option>
<option value="#wisconsin">WI</option>
<option value="#wyoming">WY</option>

	
</select>
  
</div>


<div class="state-selector-attached">

<select id="my_selection2" onchange="location = this.value;">
        
        
<option value="Select Your State">Select Your State</option>
<option value="#alabama">AL</option>
<option value="#alaska">AK</option>
<option value="#arizona">AZ</option>
<option value="#arkansas">AR</option>
<option value="#california">CA</option>
<option value="#colorado">CO</option>
<option value="#connecticut">CT</option>
<option value="#delaware">DE</option>
<option value="#florida">FL</option>
<option value="#georgia">GA</option>
<option value="#hawaii">HI</option>
<option value="#idaho">ID</option>
<option value="#illinois">IL</option>
<option value="#indiana">IN</option>
<option value="#iowa">IA</option>
<option value="#kansas">KS</option>
<option value="#kentucky">KY</option>
<option value="#louisiana">LA</option>
<option value="#maine">ME</option>
<option value="#maryland">MD</option>
<option value="#massachusetts">MA</option>
<option value="#michigan">MI</option>
<option value="#minnesota">MN</option>
<option value="#mississippi">MS</option>
<option value="#missouri">MO</option>
<option value="#montana">MT</option>
<option value="#nebraska">NE</option>
<option value="#nevada">NV</option>
<option value="#newhampshire">NH</option>
<option value="#newjersey">NJ</option>
<option value="#newmexico">NM</option>
<option value="#newyork">NY</option>
<option value="#northcarolina">NC</option>
<option value="#northdakota">ND</option>
<option value="#ohio">OH</option>
<option value="#oklahoma">OK</option>
<option value="#oregon">OR</option>
<option value="#pennsylvania">PA</option>
<option value="#rhodeisland">RI</option>
<option value="#southcarolina">SC</option>
<option value="#southdakota">SD</option>
<option value="#tennessee">TN</option>
<option value="#texas">TX</option>
<option value="#utah">UT</option>
<option value="#vermont">VT</option>
<option value="#virginia">VA</option>
<option value="#washington">WA</option>
<option value="#westvirginia">WV</option>
<option value="#wisconsin">WI</option>
<option value="#wyoming">WY</option>

</select>
  
</div>


  
  