{% layout settings.customer_layout %}
<section id="blacktop">

    <div id="create-customer" id="template">
            <div class="account-flex">
                <div class="reseller-login" id="ecomm-login">
               <div class="reseller-login-container">
                <h2>Log In</h2>

                {% form 'customer_login' %}
                    {{ form.errors | default_errors }}

                    <div class="clearfix large_form" id="login_email">
                        <label class="login" for="customer_email">Email Address</label>
                        <input class="large" id="customer_email" name="customer[email]" size="30" type="email" value=""/>
                    </div>

                    {% if form.password_needed %}

                        {% comment %}
                    Customer Account Login
                {% endcomment %}

                <div class="clearfix large_form" id="login_password">
                    <label class="login" for="customer_password">Password</label>
                    <input class="large password" id="customer_password" name="customer[password]" size="16" type="password" value=""/>
                    <div id="forgot_password">
                        <a class="forgot-pw" href="/pages/forgot-password">Forgot Password?</a>
                    </div>
                </div>



                    {% endif %}

                    <div class="action_bottom">
                        <input class="btn" type="submit" value="Sign In"/>
                        <a class="btn btn-white" href="/account/register">or Sign up</a>
                    </div>
                {% endform %}
               </div>
                </div>

                <div class="reseller-login" id="res-login">
                    <div class="reseller-login-container">
                        <h2>Resellers & Reps</h2>
                        <a class="btn btn-blue" href="https://www.portal.blizzardpro.com/s" style="margin-bottom: 3em;">Login as Reseller/Rep</a>


                   <div class="reseller-request">
                    <h3>Looking for reseller access?</h3>
                    <p>Enter your business email below and we'll reach out to you.</p>
                    <label for="customer_request_access">Email Address</label>
                    <input id="request-email" type="email"/>
                    <input id="requestEmailButton" class="btn"  type="submit" value="Submit Request"/>
                   </div>
                    </div>

                </div>
                <div></div>
            </div>
        </div>


        {% comment %}
            Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
                                                                            on the cart page.
        {% endcomment %}

        {% if shop.checkout.guest_login %}
            <div id="guest">
                <div class="template_header">
                    <h3 class="title">Guest Login</h3>
                </div>
                {% form 'guest_login' %}
                    <input class="btn" type="submit" value="Continue as Guest"/>
                {% endform %}
            </div>
        {% endif %}
    </div>
</section>

<style>


.reseller-login-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em 0;
}


    .forgot-pw {
        color: gray;
        font-weight: normal;
        font-size: 16px;
        margin-top: 10px;
        display: block;
        text-decoration: underline;
    }

</style>

<script type="text/javascript">
    function showRecoverPasswordForm() {
        document
            .getElementById("recover-password")
            .style
            .display = "inline-block";
        document
            .getElementById("customer")
            .style
            .display = "none";
    }

    function hideRecoverPasswordForm() {
        document
            .getElementById("recover-password")
            .style
            .display = "none";
        document
            .getElementById("customer")
            .style
            .display = "inline-block";
    }

    $('#mymodal').trigger('click');


    $('#requestEmailButton').on("click", () => {


    const email = $('#request-email').val();
    const apiUrl = "https://api.blizzard.lighting/update-contact";
    const data = {
        email: email,
        invite_code: "requested"
    }

    if(email) {
            $('#requestEmailButton').val("Sending...");
        }

    let fetchData = {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
        }
    }
    fetch(apiUrl, fetchData).then(async res => {
        let data = await res.text();
        const json = JSON.parse(data);
        if(json.message === "Success") {
            $('#requestEmailButton').addClass("btn-green");
            $('#requestEmailButton').val("Sent!");

        }
    })
    })

    if (window.location.hash == "#recover") {
        showRecoverPasswordForm()
    }
</script>
