<div class="cs-header" style="background-image: url({{ section.settings.backgroundImage | img_url: 'master' }})">
    {% if section.settings.title_svg %}
        <div class="cs-blob">
            {{ section.settings.title_svg }}
        </div>
    {% endif %}

</div>


<style>
.cs-header {
  height: 400px;
  margin-bottom: 200px;
  background: black;
  background-size: cover;
  background-position: center;
  z-index: 2;
position: relative;
}

.st3 {
    font-weight: bold;
    font-family: 'Source Sans Pro';
}

.st6 {
    font-weight: 300;
    font-family: 'Source Sans Pro';
}


.cs-blob {
  position: relative;
  top: 180px;
  max-width: 420px;
  transform: scale(0.9);
}

.cs-flex {
  position: relative;
  display: flex;
  width: 380px;
  align-items: center;
  justify-content: center;
}

.cs-container {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

.cs-header h1 {
  position: absolute;
  color: white;
  font-size: 3em;
width: 75%;
}

@media screen and (min-width: 768px) {
    .cs-header {
        margin-bottom: 0;;
    }

    .cs-blob {
        top: 60px;
    }
}
@media screen and (min-width: 1030px) {
    .cs-header{
        margin-bottom: 4em;
    }

    .cs-blob {
        top: 90px;
    }
}
</style>


{% schema %}


{
    "name": "Case Study Header",
    "class": "cs--header",
    "settings": [
        {
            "type": "image_picker",
            "id": "backgroundImage",
            "label": "Background Image"
        },
        {
            "type": "html",
            "id": "title_svg",
            "label": "Title SVG"
        }
    ]
}

{% endschema %}