<div class="cs-header" style="background-image: url({{ section.settings.backgroundImage | img_url: 'master' }})">
    <div class="cs-blob">
        <div class="cs-flex">
            <h1>{{ article.title }}</h1>
            <svg data-name="Group 8" height="409" id="Group_8" viewbox="0 0 419 409" width="419" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <clipPath id="clip-path">
                        <rect data-name="Rectangle 12" fill="#2928ff" height="409" id="Rectangle_12" width="419"/>
                    </clipPath>
                </defs>
                <g clip-path="url(#clip-path)" data-name="Group 7" id="Group_7">
                    <path d="M88.764.624,349.8,33.215A79.045,79.045,0,0,1,419,111.687V297.779A79.045,79.045,0,0,1,350.918,376.1l-230.41,32.132a79,79,0,0,1-89.287-68.727L.6,88.692C-5.639,37.6,37.756-5.744,88.764.624" data-name="Path 3" fill="#2928ff" id="Path_3" transform="translate(0 0)"/>
                </g>
            </svg>
        </div>
    </div>
</div>

<style>
.cs-header {
  height: 400px;
  margin-bottom: 200px;
  background: black;
  background-size: cover;
  background-position: center;
  z-index: 2;
position: relative;
}

.cs-blob {
  position: relative;
  top: 180px;
  transform: scale(0.9);
}

.cs-flex {
  display: flex;
  width: 380px;
  align-items: center;
  justify-content: center;
}

.cs-container {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

.cs-header h1 {
  position: absolute;
  color: white;
}

@media screen and (min-width: 768px) {
    .cs-header {
        margin-bottom: 0;;
    }

    .cs-blob {
        top: 60px;
    }
}
@media screen and (min-width: 1030px) {
.cs-header{
    margin-bottom: 4em;
}

    .cs-blob {
        top: 90px;
    }
}
</style>


{% schema %}


{
    "name": "Case Study Header",
    "class": "cs--header",
    "settings": [
        {
        "type": "image_picker",
        "id": "backgroundImage",
        "label": "Background Image"
        }
    ]
}

{% endschema %}