<div class="cs-body">
    <div class="cs-container">
        {{section.settings.body}}
    </div>
</div>

<style>
    .cs-container {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

</style>

{% schema %}

{
    "name": "Case Study Body",
    "settings": [
        {
        "type": "richtext",
        "id": "body",
        "label": "Body Copy"
        }
    ]
}

{% endschema %}