<div class="cs-body">
    <div class="cs-container">
        {{section.settings.body}}
    </div>
</div>

{% schema %}

{
    "name": "Case Study Body",
    "settings": [
        {
        "type": "richtext",
        "id": "body",
        "label": "Body Copy"
        }
    ]
}

{% endschema %}