<div class="cs-sidebar">
    <div class="cs-sidebar-container">
        <div class="cs-icon-item">
            <div class="cs-sidebar-header">
                <i class="bi liftoff"></i>
                <h3>Challenge</h3>
            </div>
            <p>{{ section.settings.challenge }}</p>
        </div>
        <div class="cs-icon-item">
            <div class="cs-sidebar-header">
                <i class="bi challenge"></i>
                <h3>Solution</h3>
            </div>
            <p>{{ section.settings.solution }}</p>
        </div>
        <div class="cs-icon-item">
            <div class="cs-sidebar-header">
                <i class="bi featured"></i>

                <h3>Result</h3>
            </div>
            <p>{{ section.settings.result }}</p>
        </div>
    </div>

    <a class="btn btn-blue" target="_blank" href="{{ sectin.settings.linkDownload }}">
        Download Case Study
        <i class="bi download"></i>
    </a>
</div>

<style>
    .cs-sidebar {
    padding: 2em;
    background: #F1F2F3;
    position: relative;
    margin-bottom: 3em;
}

.cs-sidebar-header {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.cs-sidebar-header svg {
    margin-right: 10px;
}

.cs-sidebar-header h3 {
    font-weight: normal;
    font-size: 1.4em;
}

.cs-icon-item {
    margin: 30px 0;
}

.cs-icon-item p {
    padding-bottom: 1em;
}

.cs-sidebar a.btn.btn-blue {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    display: table;
    bottom: -20px;
}

.cs-sidebar-header i {
    font-size: 2em;
    color: #2928ff;
}

@media screen and (min-width: 768px) {


.cs-sidebar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cs-icon-item {
    border-bottom: 0;
    padding: 0 2em;
}
}


@media screen and (min-width: 1030px) {

    .cs-icon-item:first-child {
    margin-top: 6px;
}


    .cs--sidebar {
        width: 28%;
    }
    .cs-sidebar a.btn.btn-blue {position: relative; margin-bottom: 1.5em;}

    .cs-sidebar-container {
    display: block;
}

.cs-icon-item {
    margin: 30px 0;
}

.cs-sidebar {
    font-size: 12px;
    margin-bottom: 10em;
}



}

@media screen and (min-width: 1280px) {
    .cs--sidebar {
    width: 20%;
    }

    .cs-sidebar {
        font-size: 16px;
        max-width: 330px;
    }

    .cs--sidebar {
        font-size: 14px;
    }
}
</style>

{% schema %}


{
    "name": "Case Study Sidebar",
    "class": "cs--sidebar",
    "settings": [
        {
            "type": "textarea",
            "id": "challenge",
            "label": "Challenge"
        },
        {
            "type": "textarea",
            "id": "solution",
            "label": "Solution"
        },
        {
            "type": "textarea",
            "id": "result",
            "label": "Result"
        },
        {
            "type": "text",
            "id": "linkDownload",
            "label": "PDF Download URL"
        }
    ]
}

{% endschema %}