<div class="cs-sidebar">
    <div class="cs-sidebar-container">
        <div class="cs-icon-item">
            <div class="cs-sidebar-header">
                <svg data-name="Group 21" height="30" id="Group_21" viewbox="0 0 30 30" width="30" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <clipPath id="clip-path">
                            <rect data-name="Rectangle 18" fill="none" height="30" id="Rectangle_18" width="30"/>
                        </clipPath>
                    </defs>
                    <g clip-path="url(#clip-path)" data-name="Group 20" id="Group_20" transform="translate(0 0)">
                        <path d="M19.173,24.1a.737.737,0,0,1-.523-.217L8.2,13.431a.739.739,0,0,1,0-1.045l7.777-7.777A15.442,15.442,0,0,1,26.732.064L31.333,0h.01a.74.74,0,0,1,.739.75l-.064,4.6a15.441,15.441,0,0,1-4.545,10.759L19.7,23.885a.74.74,0,0,1-.523.217M9.764,12.909l9.408,9.408,7.254-7.254a13.971,13.971,0,0,0,4.112-9.734l.054-3.84-3.841.054a13.969,13.969,0,0,0-9.733,4.112Z" data-name="Path 15" fill="#0047ba" id="Path_15" transform="translate(-2.081 0)"/>
                        <path d="M14.621,30a.739.739,0,0,1-.523-.217L6.782,22.465a.738.738,0,0,1,0-1.045l2.613-2.614a.761.761,0,0,1,1.045,0l7.318,7.318a.74.74,0,0,1,0,1.045l-2.614,2.613a.736.736,0,0,1-.523.217M8.349,21.942l6.272,6.272,1.568-1.568L9.917,20.373Z" data-name="Path 16" fill="#0047ba" id="Path_16" transform="translate(-1.712 -4.851)"/>
                        <path d="M7.8,15.457a.737.737,0,0,1-.523-.217L4.66,12.628a.739.739,0,0,1,0-1.045L6.927,9.315a8.176,8.176,0,0,1,7.721-2.138l.121.03a.739.739,0,0,1,.343,1.24L8.318,15.241a.737.737,0,0,1-.523.217M6.227,12.105,7.8,13.673l5.25-5.249A6.677,6.677,0,0,0,7.973,10.36Z" data-name="Path 17" fill="#0047ba" id="Path_17" transform="translate(-1.159 -1.809)"/>
                        <path d="M25.474,32.3a.737.737,0,0,1-.523-.217L22.338,29.47a.739.739,0,0,1,0-1.045l6.794-6.794a.739.739,0,0,1,1.24.343l.03.121a8.169,8.169,0,0,1-2.138,7.721L26,32.084a.737.737,0,0,1-.523.217m-1.569-3.353,1.569,1.569,1.744-1.745A6.693,6.693,0,0,0,29.156,23.7Z" data-name="Path 18" fill="#0047ba" id="Path_18" transform="translate(-5.77 -5.585)"/>
                        <path d="M.739,37.8a.739.739,0,0,1-.523-1.262l6.42-6.421a.74.74,0,0,1,1.046,1.046l-6.421,6.42a.737.737,0,0,1-.523.217" data-name="Path 19" fill="#0047ba" id="Path_19" transform="translate(0 -7.799)"/>
                        <path d="M7.81,38.721a.739.739,0,0,1-.523-1.262l3.807-3.807A.739.739,0,0,1,12.139,34.7L8.333,38.5a.737.737,0,0,1-.523.217" data-name="Path 20" fill="#0047ba" id="Path_20" transform="translate(-1.844 -8.721)"/>
                        <path d="M.739,31.65a.739.739,0,0,1-.523-1.262l3.807-3.807a.739.739,0,1,1,1.045,1.045L1.262,31.433a.737.737,0,0,1-.523.217" data-name="Path 21" fill="#0047ba" id="Path_21" transform="translate(0 -6.877)"/>
                        <path d="M22.619,19.272a4.432,4.432,0,1,1,3.136-1.3,4.423,4.423,0,0,1-3.136,1.3m0-7.388a2.956,2.956,0,1,0,2.09.865,2.946,2.946,0,0,0-2.09-.865m2.613,5.569h0Z" data-name="Path 22" fill="#0047ba" id="Path_22" transform="translate(-4.743 -2.714)"/>
                        <path d="M35.911,9.78a.737.737,0,0,1-.523-.217L27.837,2.012A.739.739,0,1,1,28.882.967l7.551,7.551a.739.739,0,0,1-.523,1.262" data-name="Path 23" fill="#0047ba" id="Path_23" transform="translate(-7.204 -0.196)"/>
                    </g>
                </svg>
                <h3>Challenge</h3>
            </div>
            <p>{{ section.settings.challenge }}</p>
        </div>
        <div class="cs-icon-item">
            <div class="cs-sidebar-header">
                <svg height="30.577" viewbox="0 0 30 30.577" width="30" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <clipPath id="clip-path">
                            <rect data-name="Rectangle 17" fill="none" height="30.577" id="Rectangle_17" width="30"/>
                        </clipPath>
                    </defs>
                    <g clip-path="url(#clip-path)" data-name="Group 18" id="Group_18">
                        <path d="M21.9,33.639H.755A.755.755,0,0,1,.1,32.5L10.673,14.382a.786.786,0,0,1,1.3,0L22.548,32.5a.755.755,0,0,1-.652,1.136M2.069,32.129H20.582L11.325,16.261Z" data-name="Path 9" fill="#0047ba" id="Path_9" transform="translate(-0.27 -3.167)"/>
                        <path d="M28.11,28.07a.756.756,0,0,1-.668-.4l-1.987-3.775a.758.758,0,0,1,0-.7l1.987-3.775a.786.786,0,0,1,1.336,0l1.987,3.775a.758.758,0,0,1,0,.7l-1.987,3.775a.756.756,0,0,1-.668.4m-1.134-4.53,1.134,2.154,1.134-2.154L28.11,21.385Z" data-name="Path 10" fill="#0047ba" id="Path_10" transform="translate(-6.484 -4.393)"/>
                        <path d="M15.372,26.088a.756.756,0,0,1-.668-.4l-1.219-2.317-1.219,2.317a.786.786,0,0,1-1.336,0L8.9,21.829a.753.753,0,0,1,.016-.732l3.916-6.715a.786.786,0,0,1,1.3,0L18.053,21.1a.753.753,0,0,1,.016.732L16.04,25.685a.756.756,0,0,1-.668.4m-1.888-5.1a.756.756,0,0,1,.668.4l1.219,2.317L16.538,21.5l-3.053-5.235L10.431,21.5,11.6,23.712l1.219-2.317a.756.756,0,0,1,.668-.4" data-name="Path 11" fill="#0047ba" id="Path_11" transform="translate(-2.429 -3.167)"/>
                        <path d="M35.018,34.865h-7.55a.755.755,0,0,1-.652-.375l-3.969-6.8a.756.756,0,0,1-.016-.732L26.8,19.412a.786.786,0,0,1,1.336,0l7.55,14.346a.755.755,0,0,1-.668,1.107M27.9,33.355h5.867l-6.3-11.97-3.105,5.9Z" data-name="Path 12" fill="#0047ba" id="Path_12" transform="translate(-5.841 -4.393)"/>
                        <path d="M14.755,12.08A.755.755,0,0,1,14,11.325V.755a.755.755,0,0,1,1.51,0v10.57a.755.755,0,0,1-.755.755" data-name="Path 13" fill="#0047ba" id="Path_13" transform="translate(-3.7 0.271)"/>
                        <path d="M23.816,8.04h-9.06A.755.755,0,0,1,14,7.285V2.755A.755.755,0,0,1,14.755,2h9.06a.755.755,0,0,1,.547,1.275L22.7,5.02l1.658,1.746a.755.755,0,0,1-.547,1.275M15.51,6.53h6.547l-.94-.991a.753.753,0,0,1,0-1.039l.94-.991H15.51Z" data-name="Path 14" fill="#0047ba" id="Path_14" transform="translate(-3.7 -0.219)"/>
                    </g>
                </svg>
                <h3>Solution</h3>
            </div>
            <p>{{ section.settings.solution }}</p>
        </div>
        <div class="cs-icon-item">
            <div class="cs-sidebar-header">
                <svg height="30" viewbox="0 0 20.943 30" width="20.943" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <clipPath id="clip-path">
                            <rect data-name="Rectangle 16" fill="none" height="30" id="Rectangle_16" width="20.943"/>
                        </clipPath>
                    </defs>
                    <g data-name="Group 17" id="Group_17" transform="translate(0 0.47)">
                        <g clip-path="url(#clip-path)" data-name="Group 16" id="Group_16" transform="translate(0 -0.47)">
                            <path d="M15.23,19.593a.741.741,0,0,1-.437-.143l-3-2.193-3,2.193a.741.741,0,0,1-1.149-.8l1.074-3.734L5.779,12.564a.741.741,0,0,1,.447-1.32l3.659-.079,1.209-3.657a.741.741,0,0,1,1.408,0l1.209,3.657,3.659.079a.741.741,0,0,1,.447,1.32l-2.947,2.349,1.074,3.734a.741.741,0,0,1-.712.946M11.8,15.6a.735.735,0,0,1,.437.143l1.686,1.233-.613-2.128a.741.741,0,0,1,.25-.784l1.733-1.382-2.136-.046a.742.742,0,0,1-.688-.508L11.8,10.1l-.67,2.027a.742.742,0,0,1-.688.508L8.3,12.682l1.733,1.382a.741.741,0,0,1,.25.784l-.613,2.128,1.686-1.233A.735.735,0,0,1,11.8,15.6" data-name="Path 7" fill="#0047ba" id="Path_7" transform="translate(-1.426 -1.549)"/>
                            <path d="M20,29.632a.743.743,0,0,1-.451-.153l-9.179-7.044L1.192,29.479A.741.741,0,0,1,0,28.891V.741A.741.741,0,0,1,.741,0H20a.741.741,0,0,1,.741.741v28.15a.741.741,0,0,1-.741.741m-9.63-8.871a.739.739,0,0,1,.451.153l8.438,6.475V1.482H1.482V27.389L9.92,20.914a.739.739,0,0,1,.451-.153" data-name="Path 8" fill="#0047ba" id="Path_8" transform="translate(0 0.266)"/>
                        </g>
                    </g>
                </svg>

                <h3>Result</h3>
            </div>
            <p>{{ section.settings.result }}</p>
        </div>
    </div>

    <a class="btn btn-blue" target="_blank" href="{{ sectin.settings.linkDownload }}">
        Download Case Study
        <svg data-name="Group 30" height="18" id="Group_30" viewbox="0 0 18 18" width="18" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <clipPath id="clip-path">
                    <rect data-name="Rectangle 23" fill="none" height="18" id="Rectangle_23" width="18"/>
                </clipPath>
            </defs>
            <g clip-path="url(#clip-path)" data-name="Group 29" id="Group_29">
                <path d="M10.554,14.8s.008,0,.012.009a.616.616,0,0,0,.145.1c.018.01.032.026.05.034a.591.591,0,0,0,.478,0,.494.494,0,0,0,.05-.034.6.6,0,0,0,.145-.1s.009-.005.012-.009l5.4-6a.6.6,0,1,0-.892-.8L11.6,12.836V.6a.6.6,0,0,0-1.2,0V12.836L6.046,8a.6.6,0,1,0-.892.8Z" data-name="Path 24" fill="#fff" id="Path_24" transform="translate(-2)"/>
                <path d="M17.4,13a.6.6,0,0,0-.6.6V22H1.2V13.6a.6.6,0,1,0-1.2,0v9a.6.6,0,0,0,.6.6H17.4a.6.6,0,0,0,.6-.6v-9a.6.6,0,0,0-.6-.6" data-name="Path 25" fill="#fff" id="Path_25" transform="translate(0 -5.2)"/>
            </g>
        </svg>
    </a>
</div>

<style>
    .cs-sidebar {
    padding: 2em;
    background: #F1F2F3;
    position: relative;
    margin-bottom: 3em;
}

.cs-sidebar-header {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.cs-sidebar-header svg {
    margin-right: 10px;
}

.cs-sidebar-header h3 {
    font-weight: normal;
    font-size: 1.4em;
}

.cs-icon-item {
    border-bottom: 1px solid gray;
    margin: 30px 0;
}

.cs-icon-item p {
    padding-bottom: 1em;
}

.cs-sidebar a.btn.btn-blue {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    display: table;
    bottom: -20px;
}

.cs-icon-item:last-child {
    border-bottom: 0;
}

@media screen and (min-width: 768px) {


.cs-sidebar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cs-icon-item {
    border-right: 1px solid gray;
    border-bottom: 0;
    padding: 0 2em;
}

.cs-icon-item:last-child {
    border-right: 0;
}

}


@media screen and (min-width: 1030px) {
    .cs--sidebar {
        width: 28%;
    }
    .cs-sidebar a.btn.btn-blue {position: relative;}

    .cs-sidebar-container {
    display: block;
}

.cs-icon-item {
    border-bottom: 1px solid gray;
    margin: 30px 0;
}

.cs-sidebar {
    font-size: 12px;
    margin-bottom: 10em;
}

.cs-icon-item {
    border-right: 0;
}

}

@media screen and (min-width: 1280px) {
    .cs--sidebar {
    width: 20%;
    }

    .cs-sidebar {
        font-size: 16px;
        max-width: 330px;
    }

    .cs--sidebar {
        font-size: 14px;
    }
}
</style>

{% schema %}


{
    "name": "Case Study Sidebar",
    "class": "cs--sidebar",
    "settings": [
        {
            "type": "textarea",
            "id": "challenge",
            "label": "Challenge"
        },
        {
            "type": "textarea",
            "id": "solution",
            "label": "Solution"
        },
        {
            "type": "textarea",
            "id": "result",
            "label": "Result"
        },
        {
            "type": "text",
            "id": "linkDownload",
            "label": "PDF Download URL"
        }
    ]
}

{% endschema %}