<div class="iris-lp-hero mw-1920">
    <div class="iris-series-logo">
        <img src="{{ section.settings.series_image | img_url: 'master' }}" alt="">
    </div>
    <div class="iris-lp-bg">
        <img src="{{ section.settings.hero_image | img_url: 'master' }}" alt="">
    </div>
</div>

<style>

.iris-series-logo {
  left: 1em;
  top: 1em;
}

.iris-series-logo {
  position: absolute;
  width: 40%;
}


.image-container-right img {
  max-height: 980px;
}

.iris-lp-hero {
  position: relative;
}
.iris-lp-hero .flex-container {
  align-items: center;
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 4em 0;
}

@media screen and (min-width: 768px) {
  .iris-series-logo {
    left: 7em;
    top: 7em;
  }
}


</style>

{% schema %}
{
    "name": "Hero Section",
    "settings": [
        {
        "type": "image_picker",
        "id": "hero_image" ,
        "label": "Hero image"
        },
        {
        "type": "image_picker",
        "id": "series_image" ,
        "label": "Left image"
        },
        {
        "type": "image_picker",
        "id": "right_image" ,
        "label": "Right image"
        }
    ]

}
{% endschema %}