

<div class="page-width page-width--narrow">
  <h1 class="landing-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "landing-page",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}