<div class="flex-container">
  
  <div class="column60">
    <img src="{{ 'pro-feature.png' | asset_url }}">
  </div>
  
    <div class="column40">
      <img src="{{ 'icon-01b.svg' | asset_url }}">
    <h3>DJ</h3>
    <h2>DJ Headline</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id auctor orci. Nam a nisl vitae nibh iaculis consectetur. </p>
  </div>
  
</div>

<section id="recommended">
  
  <h2>Recommended for <span class="underline">Pros</span></h2>

{% include 'dj' %}
  
</section>