.loc-web a {
    color: #11006b;
}
.bh-sl-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  font: normal 14px/1.4;
  width: 100%; }
  .bh-sl-container .form-input {
    margin-top: 3px;
    width: 100%; }
    .bh-sl-container .form-input label {
      padding-left: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      padding-bottom: 13px;
      display: block;
      font-weight: bold;
      width: 100%; }
    .bh-sl-container .form-input input {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font: normal 14px/1.4;
      padding: 6px 12px;
      width: 100%; }
    .bh-sl-container .form-input select {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font: normal 14px/1.4;
      margin: 15px 0;
      padding: 6px 12px;
      width: 100%; }
  .bh-sl-container > * {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important; }
  .bh-sl-container .bh-sl-form-container {
    clear: left;
    margin-top: 15px;
    width: 100%;
    background: white; }
  .bh-sl-container .loc-alt-dist {
    display: none; }
  .bh-sl-container .bh-sl-loading {
    background: url(../img/ajax-loader.gif) no-repeat;
    margin: 4px 0 0 10px;
    height: 16px;
    width: 16px; }
  .bh-sl-container .bh-sl-filters-container {
    clear: both;
    margin: 15px 0;
    width: 100%; }
    .bh-sl-container .bh-sl-filters-container .bh-sl-filters {
      list-style: none;
      margin: 0 100px 0 0;
      padding: 0; }
      .bh-sl-container .bh-sl-filters-container .bh-sl-filters li {
        clear: left;
        display: block;
        margin: 5px 0;
        width: 100%; }
        .bh-sl-container .bh-sl-filters-container .bh-sl-filters li label {
          display: inline;
          vertical-align: text-bottom; }
        .bh-sl-container .bh-sl-filters-container .bh-sl-filters li input {
          display: block;
          margin-right: 8px; }
        .bh-sl-container .bh-sl-filters-container .bh-sl-filters li select {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 4px;
          font: normal 14px/1.4;
          padding: 6px 12px; }
  .bh-sl-container .bh-sl-map-container {
    clear: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%; }
@media (min-width: 1024px) {
.bh-sl-container .bh-sl-form-container {
	margin-top: 0px;
}
  
}
    .bh-sl-container .bh-sl-map-container a:active {
      text-decoration: underline; }
    .bh-sl-container .bh-sl-map-container a:focus {
      text-decoration: underline; }
    .bh-sl-container .bh-sl-map-container a:hover {
      text-decoration: underline; }
  .bh-sl-container .bh-sl-loc-list {
    font-size: 13px;
    padding-top: 100px;
    height: 100vh;
    min-height: 600px;
    overflow-x: auto;
    width: 100%; }
    .bh-sl-container .bh-sl-loc-list ul {
      display: block;
      clear: left;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0; }
      .bh-sl-container .bh-sl-loc-list ul li {
        color: #111111;
        border: 1px solid white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: left;
        cursor: pointer;
        display: block;
        width: 100%; }
    .bh-sl-container .bh-sl-loc-list .list-label {
      background: #11006b;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 10px 0 0 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .bh-sl-container .bh-sl-loc-list .list-details {
      margin-left: 6px;
      width: 80%; }
      .bh-sl-container .bh-sl-loc-list .list-details .list-content {
        padding: 10px;
            font-size: 1.4em;
    text-align: left;
      }
      .bh-sl-container .bh-sl-loc-list .list-details .loc-dist {
        color: #8e8e8e;
        font-weight: bold;
        font-style: italic; }
    .bh-sl-container .bh-sl-loc-list .list-focus {
      border: 1px solid rgba(0, 82, 147, 0.4);
      -webkit-transition: border 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s;
      transition: border 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s;
      -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s; }
    .bh-sl-container .bh-sl-loc-list .bh-sl-close-directions-container {
      height: 20px;
      position: relative;
      width: 100%; }
      .bh-sl-container .bh-sl-loc-list .bh-sl-close-directions-container .bh-sl-close-icon {
        right: 6px;
        top: 0; }
    .bh-sl-container .bh-sl-loc-list .bh-sl-directions-panel {
      margin: 0 2%; }
      .bh-sl-container .bh-sl-loc-list .bh-sl-directions-panel table {
        table-layout: auto;
        width: 100%;
        vertical-align: middle;
        border-collapse: separate; }
      .bh-sl-container .bh-sl-loc-list .bh-sl-directions-panel td {
        vertical-align: middle;
        border-collapse: separate;
        padding: 1px; }
      .bh-sl-container .bh-sl-loc-list .bh-sl-directions-panel .adp-placemark {
        margin: 10px 0;
        border: 1px solid #c0c0c0; }
      .bh-sl-container .bh-sl-loc-list .bh-sl-directions-panel .adp-marker {
        padding: 3px; }
    .bh-sl-container .bh-sl-loc-list .bh-sl-noresults-title {
      font-weight: bold;
      margin: 15px; }
    .bh-sl-container .bh-sl-loc-list .bh-sl-noresults-desc {
      margin: 0 15px; }
  .bh-sl-container .loc-name {
    font-size: 18px;
    font-weight: bold; }
.loc-addr, .loc-addr2, .loc-addr3 {
    font-family: roboto;
}

  .bh-sl-container .bh-sl-map {
    height: 100vh;
    min-height: 600px;
    width: 100%; }
  .bh-sl-container .bh-sl-pagination-container {
    clear: both; }
    .bh-sl-container .bh-sl-pagination-container ol {
      list-style-type: none;
      margin: 0;
      padding: 10px 0;
      text-align: center; }
      .bh-sl-container .bh-sl-pagination-container ol li {
        color: #005293;
        cursor: pointer;
        display: inline-block;
        font: bold 14px;
        padding: 10px; }
      .bh-sl-container .bh-sl-pagination-container ol .bh-sl-current {
        color: #555;
        cursor: auto;
        text-decoration: none; }

.bh-sl-window {
  font-size: 13px; }

.bh-sl-error {
  clear: both;
  color: #ae2118;
  font-weight: bold;
  padding: 10px 0;
  width: 100%; }

@media (min-width: 768px) {
  .bh-sl-container .form-input {
   }
    .bh-sl-container .form-input label {
      display: inline-block;
      width: auto; }
    .bh-sl-container .form-input input {
      
 }
    .bh-sl-container .form-input select {
      width: auto;
      margin: 0 15px 0 10px; } }

@media (min-width: 1024px) {
  .bh-sl-container .bh-sl-map-container {
    }
  .bh-sl-container .bh-sl-loc-list {
    width: 20%;
    border-left: 1px solid lightgray;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .bh-sl-container .bh-sl-map {
    width: 80%; } }

.bh-sl-overlay {
  background: url(../img/overlay-bg.png) repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  .bh-sl-overlay .bh-sl-modal-window {
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #656565;
    box-shadow: 0 0 10px #656565;
    position: absolute;
    left: 50%;
    margin-left: -460px;
    margin-top: 60px;
    height: 620px;
    width: 920px;
    z-index: 10010; }
    .bh-sl-overlay .bh-sl-modal-window .bh-sl-map-container {
      margin-top: 50px; }
    .bh-sl-overlay .bh-sl-modal-window .bh-sl-modal-content {
      padding: 0 1%;
      width: 98%; }
    .bh-sl-overlay .bh-sl-modal-window .bh-sl-close-icon {
      right: 22px;
      top: 13px; }

.bh-sl-close-icon {
  cursor: pointer;
  height: 24px;
  position: absolute;
  width: 24px; }
  .bh-sl-close-icon:after {
    background: #ccc;
    content: '';
    display: block;
    height: 24px;
    margin: -3px 0 0 -1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 3px;
    top: 3px;
    width: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .bh-sl-close-icon:before {
    background: #ccc;
    content: '';
    display: block;
    height: 24px;
    margin: -3px 0 0 -1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 3px;
    top: 3px;
    width: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .bh-sl-close-icon:hover:after {
    background: #b3b3b3; }
  .bh-sl-close-icon:hover:before {
    background: #b3b3b3; }

form#bh-sl-user-location {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;

 }

#bh-sl-user-location label{
        font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.bh-sl-map-container img {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  max-height: none !important;
  max-width: none !important; }