<section id="two-col">
  
  <div class="container">
  <div class="flex-container">
  
    <div class="left-col">
      <h2>Warranty Info</h2>
<p>We strive to make sure each of our products is up to the challenges you encounter as an entertainer. These are products made by performers, for performers. Yet, even with the best-laid plans, sometimes things go awry.</p>
<p>We are proud to offer an industry-leading warranty program for all of our products. We stand behind them and do whatever we can to keep your products working for a lifetime of lighting entertainment!</p>


      
      <p><a href="https://www.blizzardpro.com/iris-warranty">Click here for IRiS&reg; LED video product warranty details, including the following series:</a><br><br>
- ICON™<br>
- GT™<br>
- InSpire™<br>
- InSite™ G2<br>
- InSignia™</p>

      <p>&nbsp;</p>   
      
<p><strong>WARRANTY PROGRAM DETAIL</strong></p>
      <p>Blizzard Lighting hereby warrants that its products shall be free of manufacturing defects in material and workmanship for a prescribed period from the date of <em>purchase or manufacture*</em> (see specific warranty period below). This warranty shall be valid only if the product is purchased within the United States of America, including possessions and territories. This warranty shall be valid only if the product is purchased from an authorized dealer appointed by Blizzard Lighting. It is the owner&rsquo;s responsibility to establish the date and place of purchase by acceptable evidence.</p>
<p>For warranty service, you must obtain a Return Authorization number (RA#) before sending back the product. Please <a href="https://blizzardlightingllc.freshdesk.com/support/login" target="_blank" rel="noopener">open a customer support ticket</a>. Send the product only to the Blizzard Lighting factory. All shipping charges must be prepaid. If the requested repairs or service (including parts replacement) are within the terms of this warranty, Blizzard Lighting will pay return shipping charges only to a designated point within the United States. If the entire instrument is sent, it must be shipped in its original package. No accessories should be shipped with the product. If any accessories are shipped with the product, Blizzard Lighting shall have no liability whatsoever for loss of or damage to any such accessories, nor for the safe return thereof.</p>
<p>This warranty is void if the serial number has been altered or removed; if the product is modified in any manner that Blizzard Lighting concludes, after inspection, affects the reliability of the product; if the product has been repaired or serviced by anyone other than the Blizzard Lighting factory unless prior written authorization was issued to purchaser by Blizzard Lighting; if the product is damaged because not properly maintained as set forth in the instruction manual.</p>
<p>This is not a service contract, and this warranty does not include maintenance, cleaning or periodic checkup. During the period specified below, Blizzard Lighting will replace defective parts at its expense with new or refurbished parts, and will absorb all expenses for warranty service and repair labor by reason of defects in material or workmanship. The sole responsibility of Blizzard Lighting under this warranty shall be limited to the repair of the product, or replacement thereof, including parts, at the sole discretion of Blizzard Lighting.</p>
<p>Blizzard Lighting reserves the right to make changes in design and/or improvements upon its products without any obligation to include these changes in any products theretofore manufactured.</p>
<p>No warranty, whether expressed or implied, is given or made with respect to any accessory supplied with products described above. Except to the extent prohibited by applicable law, all implied warranties made by Blizzard Lighting in connection with this product, including warranties of merchantability or fitness, are limited in duration to the warranty period set forth below. And no warranties, whether expressed or implied, including warranties of merchantability or fitness, shall apply to this product after said period has expired. The consumer&rsquo;s and/or Dealer&rsquo;s sole remedy shall be such repair or replacement as is expressly provided above; and under no circumstances shall Blizzard Lighting be liable for any loss or damage, direct or consequential, arising out of the use of, or inability to use, this product.</p>
<p>This warranty is the only written warranty applicable to Blizzard Lighting products and supersedes all prior warranties and written descriptions of warranty terms and conditions heretofore published.</p>

        <p>&nbsp;</p> 
      
      <p><strong>LIMITED WARRANTY PERIODS:</strong></p>

      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;LED Products: 2 years (including motors, PCB boards, power supplies, driver boards and wiring, does not include damage to LEDs or any of the previously listed parts caused by mishandling)

      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Lamp Fixtures: 2 years, eligible for 1-year extension</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;All Lamps: as-is</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;All Batteries: 1 year (excludes 18650 battery in SoC-It)</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Fog/Atmospheric Products: 1 year</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Controller Products: 2 years, eligible for 1-year extension</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Laser Products: 2 years</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Laser Diodes: 6 months</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;LIKE NEW B-Stock: 2 years</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;REFURBISHED B-Stock: 90 days</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Cool Cables: Limited Lifetime Warranty - If a Cool Cable product is purchased from an authorized Blizzard reseller and it stops working, we’ll replace it at no charge. Proof of purchase and ownership required. Warranty valid only for original purchaser.</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Other products not listed here: 90 days</p>

  <p><em><strong>ADDITIONAL WARRANTY PERIOD FOR CERTAIN PRODUCTS REGISTERED WITHIN THE <a href="https://www.blizzardpro.com/pages/at-full">AT FULL™ APP:</a></strong></em></p>

<p><em>Effective September 1st, 2022, the products listed below are eligible for an additional one (1) year of limited warranty coverage, when registered using the At Full™ app, within 30 days of purchase:</em></p>
  
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;LED Products</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Lamp Fixtures</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp;Control / DMX Distribution / Wireless DMX Products</p>


  <p><em>Batteries, lamps, other consumables and all other products not specifically listed above are ineligible for warranty extension.</em></p>

  <p>&nbsp;</p> 
      
      <p><em>*&nbsp;The date of manufacture shall be used as the warranty period start date in cases where there is greater than a twelve (12) month difference between the date of manufacture and the date of purchase. For example, if a product having a manufacture date of November 2016 is purchased in December 2017, the warranty period will commence in November 2016.</p>
<p>This limited warranty is valid only for the original purchaser, is not transferable and is only applicable to products sold within the United States. For products purchased outside United States, please consult the local Blizzard Lighting authorized distributor as warranty policies vary outside the United States.</em></p>
  
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    
    </div>
    
    <div class="right-col">
      		<div class="s-item">
			<div class="container">
				<h3>New Support Ticket</h3>
              <p>Having trouble? Submit a new support ticket.</p>
				<a href="https://blizzardlightingllc.freshdesk.com/support/tickets/new" target="_blank" class="btn btn-solidwhite">Submit New Ticket</a>
			</div>
		</div>
      
      		<div class="s-item">
			<div class="container">
				<h3>Existing Tickets</h3>
              <p>Already have a ticket? Check the status of it here.</p>
				<a href="https://blizzardlightingllc.freshdesk.com/support/login" target="_blank" class="btn btn-solidwhite">Check Ticket Status</a>
			</div>
		</div>
      
            	
      
    </div>
    </div>
  </div>
</section>