<div class="start-modal fixed-top w-100 h-100">
    <div class="container">
        <div class="row">
            {% section 'iris-calc-dynamic-form' %}
        </div>
    </div>
</div>
<div id="iris-calc">

</div>
