<section id="blacktop">
    <div class="clearfix large_form" id="recover-password">
        <div class="reset_password_header">
            <h2 class="title">Reset Password</h2>
            <p class="note">We will send you an email to reset your password.</p>
        </div>

        {% include 'reset-password' %}


    </div>
</section>
