{% section 'iris-slider' %}
{% section 'iris-col' %}
<!-- {% section 'iris-lineup' %} -->
{% section 'iris-icon' %}
{% section 'iris-icon-series-specs' %}
<!-- <a href="" class="btn btn-blue" href="#contact-iris-container">Contact Us ›</a> -->
{% section 'iris-simple-collection' %}
{% section 'iris-fullwidth-scroller' %}
{% section 'iris-dynamic-shopify-form' %}
<section class="pricing py-5">
    <div class="container">
      <div class="row" style="max-width: 870px;margin: 0 auto;">
          {% section 'iris-compare-2' %}
          {% section 'iris-compare-1' %}
      </div>
    </div>
</section>
{% section 'iris-product-lineup-auto' %}
{% section 'iris-fullwidth-scroller-2' %}
{% section 'iris-lg-form' %}


<!-- {% section 'center-image-hero' %} -->
