<div id="at-full-dl">

    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6">
                <img class="full-logo" src="{{ "at-full-logo-pro-horizontal-for-dark-background.png" | asset_img_url: 'master'}}"/>
        <img src="{{'intro_3mo.svg' | asset_url }}" alt="Win a SoC-It!">
        <img src="{{ 'soc-it-marquee.png' | asset_url }}" alt="SoC-It">
            </div>
            <div class="col-sm-5">
                <h2 id="fill-out">Get 3 months of At Full for free & enter to win a SoC-It!</h2>
               <div id="hbspt">
               </div>
               <div id="completed-form">
                <h3>Select your OS</h3>
                <div class="btn-group">
                    <div class="bl-btn-group">
                        <a class="btn btn-simple" href="https://api.blizzard.lighting/at-full/redeem?code=blizz21&type=android" style="color: #000000 !important; background-color: rgba(0,0,0,0) !important" tabindex="0" target="_blank">
                            <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/android.png?v=1613746047">
                        </a>
                        <a class="btn btn-simple" href="https://api.blizzard.lighting/at-full/redeem?code=blizz21&type=ios" style="color: #000000; background-color: rgba(0,0,0,0) !important" tabindex="0" target="_blank">
                            <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/ios.png?v=1613746046">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>

    <div class="fine" style="color: black">3 winners will be selected on June 30th *all entries automatically receive free 3-month trial of At Full™ Pro</div>
    </div>

</div>

        <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>

  hbspt.forms.create({
	region: "na1",
    target: "#hbspt",
	portalId: "4135982",
	formId: "b60a27e8-4d52-4efb-a690-eee81c9abeb6",
    onFormSubmitted: function($form) {
        $('#completed-form').show('fast');
        $('#fill-out').hide('fast');

    }
});

</script>

<style>
    #at-full-dl {
        min-height: 1300px;
    }
    #completed-form h3{
        color: white;
    }
    @media screen and (max-width: 1024px) {

    }
    #completed-form {
        display: none;
    }
    div#hbspt-form-1624297493027-7372816916 {
    background: #bfbfbf;
    padding: 2em;
}
h2 {
    font-size: 1.7em;
    margin-bottom: 11px;
}

</style>
