<div id="reseller_map"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://firebasestorage.googleapis.com/v0/b/dealerportal-2fb18.appspot.com/o/reseller_map_bundle%2Fbundle.js?alt=media&token=5a38d514-183c-4a85-b463-dd7289a8a8d7"></script>