<div className="bbc-2020">
  <div className="bbc--header background-image" style="background-image: url({{'discontinued-bbc.jpg' | asset_url }})">
    <div className="container">
      <img src="{{ 'bbc-header.jpg' | asset_url }}" />
    </div>
  </div>

  {% include 'bbc-2020-quality' %}
</div>