<div class="thank-you">
  <div class="thank-you-container">
    <div>
      <h1>Thank You!</h1>
      <p>Your submission has been sent. We'll be in contact soon.</p>
      <a onclick="window.history.go(-1); return false;" class="btn btn-blue full-link">Continue Browsing >></a>
    </div>
  </div>
</div>
