<div class="bump">

<section id="blacktop">
  
  <div class="container">

<h1>{{page.title}}</h1>
  
    <div class="career-header"><p>We are currently seeking the following:</p></div>


<div class="career-list">

<p><strong>Job  Title:</strong> Intelligent Lighting Repair Technician<br>
  <strong>Location:</strong> Waukesha, WI<br>
<strong>Classification:</strong> Full time/40 hours/week. Hourly. Overtime potential, over time.</p>
<p>We&rsquo;re  looking for an experienced electronics repair technician to add to our service department.  Core responsibilities include, uh, diagnosis and repair of intelligent lighting  fixtures and LED video products, troubleshooting customer equipment issues (ha)  via phone and email, and assisting the purchasing brass in obtaining the  various electronic bits required to make things work like new again. Oh, and  being a really swell person to be around. That&rsquo;s important. Who do we think we  are? Well, we&rsquo;re Blizzard Lighting, LLC, that&rsquo;s who! </p>
<p><strong>Position Requirements:</strong> One coordinate necessary for  each dimension is typical. Also, these are the traits we think a great  candidate for this job will possess: </p>

<ul>
    <li><strong>A Passionate penchant for problem  psolving perseverance. </strong>You  should be motivated and able to apply logic and quick wit to defeat the most  stubborn inanimate objects and electronic demons. Like some sort of scientist  or something. Maybe we&rsquo;d even get you a lab coat and pocket protector. I SAID  MAYBE.</li>
    <li><strong>No, but really. </strong>Your success will be judged  heavily on your ability to diagnose and repair electronic fixtures and systems  used in the &ldquo;professional&rdquo; stage lighting industry; sometimes without the use  of a wiring schematic or supporting documentation.&nbsp;BUT, you should also be able to read and  apply knowledge from product manuals, datasheets, etc. </li>
    <li><strong>A possessor of relevant  technical skills and knowledge. </strong>Must understand how to work SAFELY around electricity and  other human-like beings without becoming a pathway to ground, a pathway to  insanity or a pathway to litigation. That&rsquo;s a big one. You&rsquo;re going to need to use  your opposable digits, power and hand tools, solder tiny bits (through hole and  SMT, occasionally) and operate a DMM and/or other &lsquo;lektrik-measurement-gizmos  to quantify AC/DC voltage, current, and resistance, too. Experience with DMX  controlled equipment is also a big help.</li>
    <li><strong>Clutter-buster.</strong> You will be nearly  constantly surrounded with an ever-changing bunch of bits, bolts and boards,  and it will behoove you to be organized and a bit of a neatnik without being  preachy and obnoxious about it. Lead by example. Yeah.</li>
    <li><strong>You can hold your own in  social situations, basically. </strong>Effective communication with customers shall be required in  person, via phone and via email, to troubleshoot and resolve product issues.&nbsp;</li>
  <li><strong>Isn&rsquo;t afraid to get physical,</strong> and what we mean is that  some of this stuff is a bit heavy, so some lifting is required. Also, you work  at a bench, so you&rsquo;ll probably be standing much of the time. Finally, we get  large shipments in shipping containers, and it&rsquo;s nice to help out your fellow  employees in the warehouse by helping them unload &lsquo;em. And hey, you might find  a prize in there! It has happened!</li>
</ul>
<p><strong>Summing up here, ideally you…</strong></p>
<ul>
  <li>Understand  technical theatre/lighting control protocols like ARTNET, KLINGNET, sACN and  DMX, and can command these accursed lights to obey you.</li>
  <li>Are  STOKED to increase your technical skills and like learning things, like when  it&rsquo;s OK o use the word &ldquo;stoked.&rdquo;&nbsp;</li>
  <li>Have  an Associates or Bachelor&rsquo;s Degree in electronics, electronic and/or mechanical  engineering, or are a self-taught genius who can prove it(ish). </li>
  <li>Possess  experience in small appliance/electronics service and repair work.&nbsp;</li>
  <li>Understand  embedded systems, firmware, and can navigate various microcontroller  programming tools, even ones written entirely in Mandarin Chinese.&nbsp;</li>
  <li>Think  yourself capable of using help desk/RMA and inventory management software.&nbsp;</li>
</ul>
<p><strong>&nbsp;…and at the minimum you  have an…</strong></p>
<ul>
  <li>Associates  degree or 3 years&rsquo; experience repairing small electronic systems</li>
</ul>

<p>Salary &amp; benefits are highly competitive, and negotiable  based on experience and planetary alignment. This position is located in  Waukesha, Wisconsin at BLWHQ.</p>
<p>Blizzard Lighting offers company sponsored medical/dental  insurance, a 401(k) with up to 4% company match, company paid short and  long-term disability insurance, flexible paid time off, FREE LUNCH AT WORK  EVERY DAY, and an almost impossibly fun, friendly work environment replete with  pinball, video games, in-house Friday happy hour and guaranteed the biggest TV  set you&rsquo;ve ever seen. Really, it&rsquo;s huge, and really, we dare you to find a  better group of people to be around for most of your waking life. It&rsquo;s not  going to happen.</p>
  <p><strong>If you think you'd be a good fit, please send us your resume below!</strong></p>
    </div>
    
    
    
    
    {% include 'jobs-form' %}
    
  </div>
  
  </section>
  
</div>