{% section 'nova-slider' %}
{% section 'nova-col' %}
<h2 style="text-align: center; padding-top: 2em;">Blizzard Lighting is the #1 U.S. Distributor of NovaStar™ Video Controllers & Processors</h2>
{% section 'nova-lineup' %}
{% section 'nova-fullwidth-scroller' %}
{% section 'nova-lineup-2' %}
{% section 'nova-compare' %}
{% section 'nova-dynamic-shopify-form' %}

<!-- {% section 'center-image-hero' %} -->
