<div id="reseller_map"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://firebasestorage.googleapis.com/v0/b/dealerportal-2fb18.appspot.com/o/reseller_map_bundle%2Fbundle.js?alt=media&token=b4b1b78c-5b61-4df4-a8d5-f1d9b83a0cc7"></script>