<div id="reseller_map"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://firebasestorage.googleapis.com/v0/b/dealerportal-2fb18.appspot.com/o/reseller_map_bundle%2Fbundle.js?alt=media&token=be4eba13-cede-4168-ae65-e54e91dc18d6"></script>