<div class="thank-you">
  <div class="thank-you-container">
    <div>
      <h1>Rad!</h1>
      <p>We've signed you up to get the latest Blizzard Lighting emails.</p>
      <a href="/collections/mixtape-series" class="btn btn-blue full-link"
        >Back to Mixtape >></a
      >
    </div>
  </div>
</div>
