<section id="two-col">
  
  <div class="container">
  <div class="flex-container">
  
    <div class="left-col">
      <h2>No Fears for 7 Years™</h2>

      <p><em>No Woes for 2,500 Shows</em></p>
      
      <p>&nbsp;</p>
      
      <p><strong>IRiS® LED Video Series LIMITED WARRANTY for the following products:</strong><br><br>
<p style="padding-left: 40px;">&bull;&nbsp;&nbsp; ICON™</p>
<p style="padding-left: 40px;">&bull;&nbsp;&nbsp; GT™</p>
<p style="padding-left: 40px;">&bull;&nbsp;&nbsp; InSpire™</p>
<p style="padding-left: 40px;">&bull;&nbsp;&nbsp; InSite™ G2</p>
<p style="padding-left: 40px;">&bull;&nbsp;&nbsp; InSignia™</p>
      
<p>Tough. Hard-working. As rugged and reliable as you are. No, this isn&rsquo;t a truck ad. We&rsquo;re talking about our IRiS&reg; LED video wall products.</p>
      
<p>We built these panels to last, and we designed them to be easy to repair out on the road. We&rsquo;re proud to stand behind them--so you can keep putting them in front of your audience. That&rsquo;s why we&rsquo;ve created the industry&rsquo;s first (we think!) 7-year replacement parts warranty for our IRiS&reg; LED video wall products.</p>

<p>7 years or 2,500 shows, whichever comes first. Oh, and if you can do 2,500 shows in 7 years, we tip our cap to ya.</p>
      
<p>As always, there are a few things that aren&rsquo;t covered by warranty, but for most things, the promise is simple:</p>

      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp; If something breaks, we&rsquo;ll ship you replacement parts and repair instructions by the end of the next business day so you can get your gear back up and running. We&rsquo;ve got you covered, for 7 years, and it won&rsquo;t cost you a dime.</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp; If you can&rsquo;t fix it, you&rsquo;ll receive priority RMA service and guaranteed three-day turnaround times for most covered repairs, with full parts and labor coverage for 3 years.</p>
      <p style="padding-left: 40px;">&bull;&nbsp;&nbsp; After 3 years, you&rsquo;ll pay only a flat-rate of $120 per repair for most items, with return shipping on us, for as long as you own the product.</p>

      <p>&nbsp;</p>
      
<p><strong>WARRANTY PROGRAM DETAIL</strong></p>

      <p>Blizzard Lighting, LLC hereby warrants that its IRiS&reg; LED video panel products shall be free of manufacturing defects in material and workmanship for a prescribed period from the date of purchase (see specific warranty period below). This warranty shall be valid only if the product is purchased within the United States of America, including possessions and territories. This warranty shall be valid only if the product is purchased from an authorized dealer appointed by Blizzard Lighting. It is the owner&rsquo;s responsibility to establish the date and place of purchase by acceptable evidence.</p>
<p>For warranty service, you must obtain a Return Merchandise Authorization number (RMA#). Please open a <a href="https://blizzardlightingllc.freshdesk.com/support/tickets/new">customer support ticket</a>. When a product is required to be shipped for service, send it only to Blizzard Lighting&rsquo;s facility. All shipping charges must be prepaid. If the requested repairs or service (including parts replacement) are within the terms of this warranty, Blizzard Lighting, LLC will pay return shipping charges only to a designated point within the United States. If the entire product is sent, it must be shipped in its original package or packaging specifically approved by the shipping carrier. Blizzard Lighting, LLC shall have no responsibility whatsoever for any damage which occurs during shipping to our facility.</p>
<p>No accessories should be shipped with the product. If any accessories are shipped with the product, Blizzard Lighting, LLC shall have no liability whatsoever for loss of or damage to any such accessories, nor for the safe return thereof.</p>
<p>This warranty is void if the serial number has been altered or removed; if the product is modified in any manner that Blizzard Lighting, LLC concludes, after inspection, affects the reliability of the product; if the product has been repaired or serviced by anyone other than Blizzard Lighting, LLC or their approved repair representative(s), unless prior written authorization was issued to Purchaser by Blizzard Lighting; or, if the product is damaged because not properly maintained as set forth in the instruction manual.</p>
<p>This is not a service contract, and this warranty does not include maintenance, cleaning or periodic checkup. During the periods specified below, (&ldquo;LIMITED WARRANTY PERIODS&rdquo;), Blizzard Lighting, LLC will replace defective parts at its expense with new or refurbished parts (&ldquo;WARRANTY PERIOD A&rdquo;), and/or will absorb all expenses for warranty service and repair labor by reason of defects in material or workmanship (&ldquo;WARRANTY PERIOD B&rdquo;). The sole responsibility of Blizzard Lighting, LLC under this warranty shall be limited to the repair of the product, or replacement thereof, including parts, at the sole discretion of Blizzard Lighting.</p>
<p>Following the expiration of the above limited warranty periods, or for items deemed not covered by the LIMITED WARRANTY, Blizzard Lighting, LLC will, at the Purchaser&rsquo;s request, provide flat-rate service and repairs to the original Purchaser only, for as long as the original Purchaser owns the covered product.</p>
<p>Blizzard Lighting, LLC reserves the right to make changes in design and/or improvements upon its products without any obligation to include these changes in any products theretofore manufactured.</p>
<p><strong>No warranty, whether expressed or implied, is given or made with respect to any accessory supplied with products described above. Except to the extent prohibited by applicable law, all implied warranties made by Blizzard Lighting, LLC in connection with this product, including warranties of merchantability or fitness, are limited in duration to the warranty period set forth below. And no warranties, whether expressed or implied, including warranties of merchantability or fitness, shall apply to this product after said period has expired. The consumer&rsquo;s and/or Authorized Reseller&rsquo;s sole remedy shall be such repair or replacement as is expressly provided above; and under no circumstances shall Blizzard Lighting, LLC be liable for any loss or damage, direct or consequential, arising out of the use of, or inability to use, this product.</strong></p>
<p>This warranty is non-transferable and applies only to new products sold by a Blizzard Authorized Reseller, or to an end-user Purchaser when purchased directly from Blizzard Lighting, LLC. This is the only written warranty applicable to Blizzard Lighting IRiS&reg; products and supersedes all prior warranties and written descriptions of warranty terms and conditions heretofore published.</p>

        <p>&nbsp;</p> 
      
<p><strong>LIMITED WARRANTY PERIODS:</strong></p>
      
<p><strong>WARRANTY PERIOD A - User-Serviceable Replacement Parts:</strong> <br />7 years.</p>
<p><strong>COVERAGE DESCRIPTION:<br /></strong>Blizzard Lighting, LLC shall, subject to warranty and defect verification, provide replacement parts to Purchaser at no charge during the covered period, subject to the exclusions and provisions contained herein.</p>
<p><strong>COVERED PRODUCTS:<br /></strong>IRiS&reg; LED Video Panels, IRiS&reg; LED Video Panel Rigging Accessories.</p>
<p><strong>COVERED PARTS</strong>: Mechanical Parts/Assemblies, PCB Boards, Power Supplies, Driver Boards, Internal Wiring, Connectors, LED Masks, NovaStar&reg; Receiving Cards <strong>ONLY when purchased in and originally installed in a covered product. </strong></p>
<p><strong>EXCLUSIONS: Cosmetic imperfections and/or physical damage due to misuse or mishandling. </strong>Accessories including cables, clamps or other rigging hardware not specifically listed herein, cases, tour carts or any other item not otherwise explicitly included above. Physical damage of any portion of the product caused by misuse and/or mishandling. <strong>THIS WARRANTY EXPLICITLY EXCLUDES COVERAGE FOR FAILURE OF LEDs AND LED MODULES WHERE BLIZZARD LIGHTING, LLC DEEMS, AT ITS SOLE DISCRETION, THE FAILURE OCCURRED DUE TO PHYSICAL DAMAGE TO THE LED OR LED MODULE.</strong></p>
  
       <p>&nbsp;</p>     
      
<p><strong>WARRANTY PERIOD B</strong> &ndash; <strong>Repair Parts and Labor for Products Returned for Warranty Service:<br /></strong>3 years.</p>
<p><strong>COVERAGE DESCRIPTION:</strong><br />Blizzard Lighting, LLC shall, subject to warranty and defect verification, provide warranty service labor and parts to Purchaser at no charge during the covered period, subject to the exclusions and provisions contained herein.</p>
<p>Products returned for warranty service under this section must comply with the processes outlined in the <strong>&ldquo;WARRANTY PROGRAM DETAIL.&rdquo;</strong></p>
<p>Once a product is received with a valid RMA number issued, Blizzard shall inspect the product and shall determine, at its sole discretion, whether the product is eligible for warranty coverage.</p>
<p>If the product is deemed <strong>eligible</strong> for warranty coverage, Blizzard shall--subject to parts availability--expedite the product repair or replacement, and complete the same at no charge and within 3 business days of receipt.</p>
    
 <p>If Blizzard is, for any reason, unable to complete the product repair or replacement within three (3) business days of receipt, Blizzard shall provide Purchaser with a good-faith estimate of the time required to complete the repair. Upon completion, and as the sole remedies available for Blizzard&rsquo;s failure to complete the product repair or replacement under this section, Blizzard shall provide to Purchaser either:</p>

      <p style="padding-left: 40px;">1.)&nbsp; For existing Blizzard Authorized Resellers: A $25 house account credit, which may be used toward any future purchase or service, subject to a lifetime maximum of $75 per covered product.</p>
      <p style="padding-left: 40px;">2.)&nbsp; For all other Purchasers: A $25 blizzardpro.com online gift card, which may be used toward any future purchase or service, subject to a lifetime maximum of $75 per covered product. Blizzardpro.com customer account creation is required.</p>
<p>Blizzard shall provide return shipping by ground service to any point in the contiguous U.S. at no additional charge. Purchaser shall be responsible for any additional charges for requested shipping upgrades.</p>
<p>Blizzard is not responsible for any shipping delays, parts shortages, Force Majeure, Acts of Dog, or any other events out of its immediate control, nor shall Blizzard have any liability whatsoever to Purchaser for any such occurrence. Woof.</p>
<p>If the product is deemed <strong>ineligible</strong> for warranty coverage, Blizzard shall advise Purchaser, in writing, of estimated repair/replacement costs and turnaround times. Full payment will be required prior to commencement of any services not covered by this Warranty.</p>
<p>&nbsp;</p>
<p><strong>COVERED PRODUCTS:<br /></strong>IRiS&reg; LED Video Panels Only.<br /><br /><strong>COVERED PARTS</strong>: Mechanical Parts/Assemblies, PCB Boards, Power Supplies, Driver Boards, Internal Wiring, Connectors, LED Masks, NovaStar&reg; Receiving Cards <strong>ONLY when purchased in and originally installed in a covered product. </strong></p>
<p><strong>EXCLUSIONS: Cosmetic imperfections and/or physical damage due to misuse or mishandling. </strong>Accessories including cables, clamps or other rigging hardware, cases, tour carts or any other item not otherwise explicitly included above. Physical damage of any portion of the product caused by misuse and/or mishandling. <strong>THIS WARRANTY EXPLICITLY EXCLUDES COVERAGE FOR FAILURE OF LEDs AND LED MODULES WHERE BLIZZARD LIGHTING, LLC DEEMS, AT ITS SOLE DISCRETION, THE FAILURE OCCURRED DUE TO PHYSICAL DAMAGE TO THE LED OR LED MODULE.</strong></p>   

 
      
<p><strong>FIXED-PRICE REPAIRS FOR ITEMS BEYOND INITIAL WARRANTY PERIOD (A/B), OR NON-WARRANTY REPAIRS:</strong></p>
      <p><strong>COVERAGE DESCRIPTION:</strong><br />Blizzard Lighting, LLC shall provide service labor and parts <strong>to the original Purchaser only </strong>at predetermined preferential pricing, as described herein, for as long as the Purchaser owns the covered product, subject to the exclusions and provisions contained herein.</p>
  
          <p>&nbsp;</p>  
      
<p style="padding-left: 40px;"><strong>IRiS&reg; MODULE SERVICE PRICE SCHEDULE<br>FOR PRODUCTS PURCHASED ON OR AFTER AUGUST 1, 2021:</strong></p>

<figure class="table" style="width: 100%;">
<table>
<tbody>
<tr>
<td style="padding: 1px;"><strong>Product</strong></td>
<td style="padding: 1px;"><strong>Repair Cost</strong></td>
<td style="padding: 1px;"><strong>Replacement Cost</strong><strong><br /></strong></td>
</tr>
<tr>
<td style="padding: 1px;">GT3</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$474.99</td>
</tr>
<tr>
<td style="padding: 1px;">GT3 XL</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$474.99</td>
</tr>
<tr>
<td style="padding: 1px;">ICON 2.6</td>
<td style="padding: 1px;">$224.99</td>
<td style="padding: 1px;">$549.99</td>
</tr>
<tr>
<td style="padding: 1px;">ICON 2.9</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$474.99</td>
</tr>
<tr>
<td style="padding: 1px;">ICON IP3</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$474.99</td>
</tr>
<tr>
<td style="padding: 1px;">ICON IP3 XL</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$474.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia 1.9</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$299.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia 2.6</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$299.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia 2.9</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$299.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia 3.9</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$299.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia IP 4.8</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$374.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia IP 7.8</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$374.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia IP 10</td>
<td style="padding: 1px;">$174.99</td>
<td style="padding: 1px;">$374.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia Panorama 2.5</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$324.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia Panorama 3.1</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$324.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSignia Panorama 4.0</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$324.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSite G2 1.2</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$499.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSite G2 1.5</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$349.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSite G2 1.8</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$299.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSpire 1.2</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$499.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSpire 1.5</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$349.99</td>
</tr>
<tr>
<td style="padding: 1px;">InSpire 1.8</td>
<td style="padding: 1px;">$99.99</td>
<td style="padding: 1px;">$299.99</td>
</tr>
</tbody>
</table>
</figure>
      
<p style="padding-left: 40px;"><strong>ALL OTHER REPAIRS: </strong>$120 per product, per repair.</p>
<p style="padding-left: 40px;">Prices include return shipping.<br /><br /></p>
<p><strong>COVERED PRODUCTS:<br /></strong>IRiS&reg; LED Video Panels, IRiS&reg; LED Video Panel Rigging Accessories.<br /><br /><strong>COVERED PARTS</strong>: LEDs and LED Modules, Mechanical Parts/Assemblies, PCB Boards, Power Supplies, Driver Boards, Internal Wiring, Connectors, LED Masks, NovaStar&reg; Receiving Cards <strong>ONLY when purchased in and originally installed in a covered product. </strong></p>
<p><strong>EXCLUSIONS: Cosmetic imperfections and/or physical damage due to misuse or mishandling. </strong>Accessories including cables, clamps or other rigging hardware, cases, tour carts or any other item not otherwise explicitly included above.</p>
<p>&nbsp;</p>
<p><strong>This limited warranty is valid only for the original Purchaser, is not transferable and is only applicable to products sold within the United States on, or after, August 1, 2021. For products purchased outside the United States, please consult the local Blizzard Lighting authorized distributor as warranty policies vary outside the United States.</strong></p>
      
      
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      
    </div>
    
    <div class="right-col">
      		<div class="s-item">
			<div class="container">
				<h3>New Support Ticket</h3>
              <p>Having trouble? Submit a new support ticket.</p>
				<a href="https://blizzardlightingllc.freshdesk.com/support/tickets/new" target="_blank" class="btn btn-solidwhite">Submit New Ticket</a>
			</div>
		</div>
      
      		<div class="s-item">
			<div class="container">
				<h3>Existing Tickets</h3>
              <p>Already have a ticket? Check the status of it here.</p>
				<a href="https://blizzardlightingllc.freshdesk.com/support/login" target="_blank" class="btn btn-solidwhite">Check Ticket Status</a>
			</div>
		</div>
      
            	
      
    </div>
    </div>
  </div>
</section>