<div id="reseller_map"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://firebasestorage.googleapis.com/v0/b/dealerportal-2fb18.appspot.com/o/reseller_map_bundle%2Fbundle.js?alt=media&token=fb1be99b-1bc8-4fbf-a247-baf88faf2988"></script>