<div class="storelocator">
  <div class="storelocator-loader"></div>
  <div class="storelocator-sidebar">
      <nav class="storelocator-nav">
          <ul class="storelocator-navList">
              <li class="storelocator-navListItem active">
                  <button class="storelocator-navButton" data-switch-view data-target="map">
                      Map
                  </button>
              </li>
              <li class="storelocator-navListItem">
                  <button class="storelocator-navButton" data-switch-view data-target="list">
                      List
                  </button>
              </li>
          </ul>
      </nav>
      <div class="storelocator-sidebarResults"></div>
  </div>
  <div class="storelocator-googleMaps active">
      <div id="storelocator-googleMapsCanvas"></div>
      <button class="storelocator-geolocButton"></button>
  </div>
</div>

<link rel="stylesheet" href="storelocator.css" />
<script src="storelocator.js"></script>

<script>
    new storelocatorjs({
        apiKey: ''
        webSerciceUrl: ''
    });
</script>