<div id="at-full-dl">
   <div class="container">
    <img class="full-logo" src="https://cdn.shopify.com/s/files/1/1741/5055/files/at-full-logo-horizontal-for-dark-background.png?v=1613421592" />
    <h2>Download At Full.<br/>Select your OS below to download.</h2>
    <div class="btn-group">
        <div class="bl-btn-group">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.blizzardpro.atfull" class="btn btn-simple" style="color: #000000 !important; background-color: rgba(0,0,0,0) !important" href="https://play.google.com/store/apps/details?id=com.blizzardpro.atfull" tabindex="0">
              <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/android.png?v=1613746047">
            </a>
          
            <a target="_blank" href="https://apps.apple.com/us/app/full/id1483078784" class="btn btn-simple" style="color: #000000; background-color: rgba(0,0,0,0) !important" href="https://apps.apple.com/us/app/full/id1483078784" tabindex="0">
              <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/ios.png?v=1613746046">
            </a>
          
          </div>
    </div>

   </div>
    
</div>