<div id="reseller_map"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://firebasestorage.googleapis.com/v0/b/dealerportal-2fb18.appspot.com/o/reseller_map_bundle%2Fbundle.js?alt=media&token=763ae9c3-89ac-4597-82d7-5c587049f00a"></script>