<div class="bump">

<section id="blacktop">
  
  <div class="container">

<h1>{{page.title}}</h1>
  
    <div class="career-header"><p>We are currently seeking the following:</p></div>


<div class="career-list">

<p><strong>Job Title:</strong>Product Development Manager<br /><strong>Location:</strong> Waukesha, WI<br /><strong>Classification:</strong> Full time/40 hours/week.</p>
<p>Before they take the stage or are installed in venues around the world, Blizzard Lighting&rsquo;s products all start with a moment when we close our eyes and picture them.</p>
<p>They could be out on tour: LED video products&ndash;a giant wall of huge visuals just upstage of the action on a big summer tour, or moving heads&ndash;razor-sharp beams, slicing the air and scanning the pulsing crowd.</p>
<p>Or they could be closer to home: LED wash fixtures&ndash;a downtown building facade instantly turned into a work of art. Or LED lekos&ndash;the local theater company&rsquo;s thrilling close of Act I replete with rich texture and tonality.</p>
<p>But whatever they are, they all start as daydreams.</p>
<p>Can you do it? Can you close your eyes and picture them?</p>
<p>If you can, let&rsquo;s talk. Because even though HR calls people like us &ldquo;Product Development Managers,&rdquo; what we&rsquo;re really looking for is a few more dreamers.</p>
<p>Now don&rsquo;t get us wrong: when the daydreaming ends, the &ldquo;daydoing&rdquo; starts. There are mountains of hard work to do to make those dreams reality. There are hundreds of design choices to make, features to test and tweak, manufacturing obstacles to overcome, and the obligatory concessions related to price and/or time constraints. The list goes on and on. And that&rsquo;s even before sales and marketing&ndash;let alone customers&ndash;get their hands on your baby. Then there&rsquo;s training, promoting, and tech-supporting to do.</p>
<p>But it&rsquo;s so, so worth it to see it through.</p>
<p>---</p>
<p>To help craft your (and our!) dreams, ideal Blizzard PDM candidates have deep knowledge of the design and operation of professional and theatrical lighting and LED video equipment, have experience in &ldquo;the business,&rdquo; and are capable of cheerful(ish) survival of Wisconsin winters.</p>
<p>Blizzard PDMs are responsible for research and development of new professional lighting and video products, plus training and upper-level technical support for the degens in sales. Pro tip: help them win that set of steak knives in the monthly sales contest, and they&rsquo;ll be your bestie forever.</p>
<p>You&rsquo;ll work with our OEMs and collaborate with other unsavory (which is really just another way of saying &ldquo;sweet,&rdquo; duh) characters here to create and market industry-leading lighting products.</p>
<p>And there are other things we think are pretty damned important, too:</p>
<ul>
<li><strong>You are bubbly and efficient:&nbsp;</strong>You&rsquo;re going to need to be hyper-organized and process-oriented. Capture lightning in a bottle, rinse, lather, repeat. Plus you&rsquo;re cheery (genuinely, not some crazy person act), make us all laugh with your quirky demeanor and slightly ribald, pun-filled humor, and do it all whilst being highly self-motivated AND working/collaborating effectively with the rest of our team.</li>
<li><strong>You are the little &lt;light&gt; engine that could:&nbsp;</strong>Be prepared to be stymied, and stymie being frustrated by the, uh, stymie-ing. Beyond our team in Waukesha, Wisconsin, we work with lots and lots of OEMs, most of whom are in China. There can be language and cultural barriers, and there&rsquo;s no sense in denying it. Problem solve, adapt and overcome!</li>
<li><strong>I give paperclip, stepper motor, stick of gum. You give overunity:&nbsp;</strong>You&rsquo;re obviously going to need to know how to make stuff. Specifically, professional entertainment lighting and video stuff. And we mean how to make it work well, how to make it look like a work of art, and how to make it buildable and profitable. And you&rsquo;ll need to spot and address potential issues and make existing stuff better. And you&rsquo;re going to be resource-constrained and routinely asked for the slightly less than impossible.</li>
<li><strong>&ldquo;Other duties as assigned&rdquo; totally exist, and you&rsquo;re probably going to have them. That could include trade show planning/attendance, technical sales, creating/assisting with content creation for marketing (or just because we want to be famous), and helping cook lunch. Also, how are you with an air nailer?</strong></li>
</ul>
<p>So yeah, that&rsquo;s what we&rsquo;re looking for. Here&rsquo;s what we&rsquo;re offering:</p>
<p><strong>A comfortable living</strong>, thanks to the salary we&rsquo;ll pay you. We think we pay pretty well, but we&rsquo;re biased, obvi. But it&rsquo;s negotiable based on your experience and how many times you can use C&amp;C Music Factory lyrics in context in your initial interview. We think you&rsquo;ll do well.</p>
<p><strong>A place to call your own</strong>,<strong>&nbsp;</strong>in our delightful facility in Waukesha, Wisconsin. Sure, you can WFH sometimes, but we enjoy actual human interaction, find it useful for the cause, and want somebody in the office we can shoot Nerf darts at occasionally. Also, Zoom calls suck.</p>
<p><strong>Bennies, because we gots lots of em</strong>, like up to 100% company-paid medical/dental insurance, unlimited paid time off, annual profit-sharing bonuses (or is it bonii?), a 401(k) with up to 4% company match, company-paid short and long-term disability insurance, lotsa free lunches, snacks, nearly all the Monster Ultra Zero you can drink, and an almost impossibly fun, friendly work environment replete with pinball, video games, Friday happy hour(s) in our well-stocked, neon-laden on-campus watering hole, and guaranteed the biggest TV set you&rsquo;ve ever seen. And that was a really long sentence.</p>
<p><strong>Camaraderie</strong>, because you will be among fellow daydreamers, daydoers, and dorks, and while we&rsquo;re not always this sappy, we all really do care about each other and the stuff we make.</p>
<p>Please use the form below to apply. Applicants who do not provide a resume, will not be considered.</p>
  
  
    </div>
    
    
    
    
    {% include 'jobs-form' %}
    
  </div>
  
  </section>
  
</div>