{% section 'at-full-slider' %}
{% section 'at-full-lineup' %}
{% section 'at-full-col' %}
{% section 'how-to' %}
{% section 'at-full-dynamic-shopify-form' %}
{% section 'at-full-col-text' %}
<section class="pricing py-5">
    <div class="container">
      <div class="row">
          {% section 'at-full-pricing-box-1' %}
          {% section 'at-full-pricing-box-2' %}
          {% section 'at-full-pricing-box-3' %}
      </div>
    </div>
</section>
{% section 'at-full-col-2' %}
{% section 'at-full-prod-lineup' %}
{% section 'at-full-faq' %}
