<div class="container">
  
  <h1><center>{{ page.title }}</center></h1>
  <h3><center>here's a subtitle if needed</center></h3>
  <div class="hometown"><center>Here's some other words of encouragement!</center></div>
  <div class="rte">
  <div id="enap-gallery-41544"></div><div id="enap-gallery-popup-41544"></div><script src="https://enormapps.com/gallery/embed.js" data-id="41544"></script>
    </div>
  
</div>




<style>
  
#enap-gallery-41544 {

  margin-bottom: 40px;
  width: 960px;
  
}


  
  .hometown {
  margin-top: 20px;
  margin-bottom: 20px;
}
  
  
  
  .container{
    /*padding: 150px;*/
        margin-top: 150px;
    
  }
  
  
  .container li{

    margin: 0;
    position: relative;
    text-align: left;
    color: #b3b3b3;
    font-family: "AvantGarde Book";
  }
  
  h1{
    
  font-size: 40px;
  
  }
  
  h3 {color: #336dc2;
    font-size: 24px;
    margin-top: 25px;
  
  }
  
  </style>
