

<div class="container">
  
<h1>{{ page.title }}</h1>
<div class="rte">
  {{ page.content }}
</div>
  
</div>

<style>
  
.container{
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  
  .container li{
    list-style-type: disc;
    margin: 0;
    position: relative;
    text-align: left;
    color: #b3b3b3;
    font-family: "AvantGarde Book";
  }
  
  h3{color: #336dc2}
  
  </style>