<div id="at-full-dl">

    <div class="container">
        <img class="full-logo" src="https://cdn.shopify.com/s/files/1/1741/5055/files/at-full-logo-horizontal-for-dark-background.png?v=1613421592"/>
        <h2>Get At Full™ Pro!<br/>Login or select your OS to download:</h2>
        <div class="btn-group">
            <div class="bl-btn-group">
                <a class="btn btn-simple" href="https://play.google.com/store/apps/details?id=com.blizzardpro.atfull" style="color: #000000 !important; background-color: rgba(0,0,0,0) !important" tabindex="0" target="_blank">
                    <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/android.png?v=1613746047">
                </a>

                <a class="btn btn-simple" href="https://apps.apple.com/us/app/full/id1483078784" style="color: #000000; background-color: rgba(0,0,0,0) !important" tabindex="0" target="_blank">
                    <img class="app-icon" src="//cdn.shopify.com/s/files/1/1741/5055/files/ios.png?v=1613746046">
                </a>

            </div>
        </div>
    </div>

</div>
