<div class="bump">

<section id="blacktop">
  
  <div class="container">

<h1>{{page.title}}</h1>
  
    <div class="career-header"><p>We are currently seeking the following:</p></div>


<div class="career-list">

<p><strong>Job Title:</strong>Agent Provocateur, aka Marketing Strategist<br>
  <strong>Location:</strong> Waukesha, WI<br>
<strong>Classification:</strong> Full time/40 hours/week.</p>
<p>We&rsquo;re on the hunt! We&rsquo;re looking for a brave soul to continue to hone our finely crafted veneer of ridiculousness and 13-year-old toilet humor. Yes, that&rsquo;s right, we need a new <strong><em>Agent Provocateur</em></strong>!</p>
<p>Clandestine work is never easy, especially when the assignment requires simultaneous dorkiness and cool day in, day out. So, it&rsquo;ll be a truly special (probably deranged) person who fills this role, alongside a stealthy marketing team of three, all with their own highly-refined tradecraft.</p>
<p><strong><em>With as much seriousness as we can muster:</em></strong> The <strong><em>Agent Provocateur</em></strong> is responsible for the success, support, and continued growth of our brand.&nbsp; They will use their skillset; an expertly-curated mix of irreverence, market awareness, creativity and organization to support our marketing efforts.&nbsp;</p>
<p>The <em>AP</em>&rsquo;s focus will build our brand image and distinguish us from the competition in ways which are valuable to potential customers.&nbsp; The <em>AP</em>&rsquo;s efforts are instrumental in developing profit through attracting and retaining exceptional customers, building market share, and identifying and exploiting new opportunities.&nbsp;</p>
<p><strong>Competencies You Probably Maintain, but All Aren&rsquo;t Required:</strong></p>
<ul>
<li>Strong problem-solving skills, a drive for results</li>
<li>Stellar writing abilities (share some samples!)</li>
<li>Experience with the Google Suite: Analytics, Ads/Ads Editor, Tag Manager, Search Console</li>
<li>Entrepreneurial mindset, not afraid to try new things</li>
<li>A fan of felines (bonus if you own a laser cat, send pics)</li>
<li>Familiarity with Bing Ads/Editor, Search Console</li>
<li>Bachelor&rsquo;s degree in marketing, business, or related (No &ldquo;Doctors&rdquo; of Chiropractic, PLEASE!)</li>
<li>Experience with Amazon Seller Central &amp; Advertising Campaign / A+ Content Manager</li>
<li>An eye for analytics, to make data-driven decisions and identify areas of greater ROI</li>
<li>Experience with HubSpot, Marketo or other marketing automation products</li>
<li>Familiarity with Fishbowl inventory management system (another bonus!)</li>
<li>Basic HTML knowledge is a &lt;b&gt;plus&lt;/b&gt;</li>
<li>Basic video editing or video content creation and experience with Adobe After Effects is a yuge plus</li>
</ul>
<p><strong>Core Responsibilities:</strong></p>
<ul>
<li>Help get our Traction Train moving full steam ahead again after, ehh, last year</li>
<li>Manage lead generation tactics and marketing automation with new campaigns, workflow buildouts, and reporting to monitor KPIs</li>
<li>Increase brand awareness &amp; improve new product targeting via social media management</li>
<li>Assist with CRO, SEO &amp; PPC (search, display, video, shopping). TL;DR, LMFAO, TFW you can do campaign research, building and management across several platforms</li>
<li>Provide copywriting in a variety of formats: ads, social posts, emails, press docs, and web pages</li>
<li>Be active in strategy sessions, externally for new product launches, B2B/B2C efforts &amp; branding; as well as internally for gaining efficiencies (oh no&hellip; efficiencies) with content creation, execution, and measurement</li>
<li>Support all marketing &amp; sales channels including print, web, email, social media, eCommerce, product/packaging design, collateral, tradeshow &amp; direct response</li>
</ul>
<p>This is an evolving role as we see our team growing in the near future, so versatility is key. You&rsquo;ll wear a few different hats&mdash;some longer at a time&mdash;depending on our latest new product to hit the market or tradeshow travel schedule.</p>
<p>We are looking for the right person, who perhaps changes seats along the way, or creates their own! We&rsquo;re staffed with a range of Type A to Type Z employees (yeah, that&rsquo;s a thing), all who come together for crazy adventures daily, and to take on&mdash;and conquer&mdash;new challenges with gusto.&nbsp;</p>
<p><strong>THINK YOU&rsquo;D FIT IN? Then for the love of all that is holy, STOP LURKING IN THE SHADOWS AND SEND US YOUR RESUME RIGHT MEOW!</strong></p>
<p>Salary &amp; benefits are highly competitive and negotiable based on experience and how much we like your shoes. This position is located in Waukesha, Wisconsin at BLWHQ, but we&rsquo;d consider &ldquo;remote control&rdquo; for the right candidate.</p>
<p>Blizzard Lighting offers <strong>100% company paid medical/dental insurance</strong>, a 401(k) with up to 4% company match, company paid short- and long-term disability insurance, flexible paid time off, <strong>happy hour at our bar/game room every Friday</strong>, and an almost impossibly fun, friendly work environment. Put it this way &ndash; none of us are permanently working from home, and that&rsquo;s not a coincidence.</p>
<p>We&rsquo;re looking for someone who will grow with us long-term, and help us take this lil&rsquo; thang we got goin&rsquo; to the next level. If you&rsquo;re fearless and interested, HMU! Er, hit US up!</p>
<p>Send the usual (and unusual&hellip; please, these get sofa king boring) stuff to <a href="mailto:careers@blizzardpro.com">careers@blizzardpro.com</a> or send pics via DM! @blizzardlites</p>
  
  
    </div>
    
    
    
    
    {% include 'jobs-form' %}
    
  </div>
  
  </section>
  
</div>